:root{
    --color-one: #222224;
    --color-two: #4B4B4D;
    --color-three: #BDBFC1;
    --color-four: white;
    --bg-one: #f8f9fa;
    --bg-two: white;
}
/* VALORES UNIVERSAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; */
    font-family: 'DM Sans', sans-serif;
    -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
}


body, html{

    width: 100%;

    height: 100%;

}

/* ************************************ */
/* ************************************ */
/* ************************************ */
.terms-section-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*  */
.terms-title{
    width: 90%;
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.terms-title-text{
    display: flex;
    align-items: baseline;
}
.terms-title-text span:nth-child(1){
    font-size: 1.8rem;
    color: var(--color-one);
    font-weight: lighter;
}
.terms-title-text span:nth-child(2){
    font-size: 0.9rem;
    color: var(--color-three);
    margin-left: 12px;
}

.terms-title img{
    width: 70px;
    object-fit: contain;
}

/*  */
.terms-section-main-display{
    width: 90%;
    margin-top: 2%;
    white-space: normal;
    overflow: auto;
}

@media only screen and (max-width: 450px){
    .terms-title-text{
        flex-direction: column;
    }
    .terms-title-text span:nth-child(2){
        margin-left: 0;
        margin-top: 12px;
    }
}