.award-list-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.award-list-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.award-list-container-page{
    width: 90%;
}

/* IDENTIFICAÇÃO DA PAGINA */
.award-list-container-identify-page{
    width: 100%;
    margin: 2% 0;
}
.award-list-container-identify-page span:nth-child(1){
    font-size: 1.2rem;
    color: var(--color-one);
}
.award-list-container-identify-page span:nth-child(2){
    margin-left: 4px;
    font-size: 0.7rem;
    color: var(--color-one);
}

/***************************/
/* PAGINA */

/* CONTAINER DE BUSCA */
.section-award-list-container-search{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}

.award-list-center-body{
    padding: 12px;
}

.award-list-title-box{
    width: 100%;
    display: flex;
}
.award-list-title-box span{
    font-size: 0.7rem;
    color: var(--color-one);
}


/* INPUT PARA BUSCAR OS PEDIDOS */
.award-list-order-srs-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.award-list-order-srs-box{
    width: 70%;
}
.award-list-order-srs-box input{
    width: 50%;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
    background: transparent;
    color: var(--color-one);
}

/* main */
.award-list-main-page{
    width: 100%;
    margin: 23px 0;
}
.award-list-form-search{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.award-list-container-row-form{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 23px;
}

.award-list-form-box{
    display: flex;
    flex-direction: column;
}
.award-list-form-box label{
    font-size: 0.7rem;
    color: var(--color-one);
}
.award-list-form-box select{
    width: 150px;
    margin-top: 6px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-one);
    cursor: pointer;
    background: transparent;
    color: var(--color-one);
}
.award-list-form-box input{
    border: 1px solid var(--color-seven);
    padding: 10px 7px;
    font-size: 0.9rem;
    background: transparent;
    color: var(--color-two);
    border-radius: 3px;
}

.award-list-select-large{
    margin-top: 6px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-one);
    cursor: pointer;
}

.award-list-form-box-actions{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.award-list-form-box-actions button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one-btn);
    cursor: pointer;
}
.award-list-form-box-actions a{
    text-decoration: none;
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid var(--color-one);
}

/* container list */
.award-list-container-list-all{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}
.section-award-list-list-center{
    width: 100%;
    padding: 12px;
}

/* actions request list */
.container-actions-checks-requests{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.award-list-box-actions-checks{
    display: flex;
    flex-direction: column;
    margin-right: 12px;
}
.award-list-box-actions-checks label{
    font-size: 0.7rem;
    color: var(--color-one);
}
.award-list-box-actions-checks select{
    width: 150px;
    margin-top: 6px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-one);
    cursor: pointer;
    background: transparent;
    color: var(--color-one);
}
.award-list-box-actions-checks-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
.award-list-box-actions-checks-button button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.7rem;
    color: var(--color-four);
    background: var(--color-one-btn);
    cursor: pointer;
}

/*********************/
/*********************/
/* TABLE */
.award-list-container-table{
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column ;
    overflow: auto;
}
.award-list-list-table{
    border-collapse: collapse;
    width: 100%;
}
.award-list-list-table tr th{
    border: none;
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    background: var(--color-one-boxs);
    color: var(--color-four);
    font-weight: normal;
    padding: 6px;
    font-size: 0.9rem;
}
.award-list-list-table tr td{
    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    padding: 18px 6px;
    color: var(--color-one);
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.5s;
}
.award-list-list-table tr td input{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.award-list-list-table tr:hover{
    transition: 0.5s;
    background: var(--color-eight);
}

/**************************/
.award-list-list-table tr th:nth-child(1){
    text-align: center;
    width: 1%;
    padding: 10px 6px;
}
.award-list-list-table tr th:nth-child(5){
    text-align: left;
}
.award-list-list-table tr th:nth-child(9){
    text-align: center;
    width: 100%;
}

.award-list-container-products{
    width: 100%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
}
.award-list-container-products span:nth-child(1){
    margin-bottom: 6px;
}

tr:nth-child(even) {
    background-color: var(--color-eight);
}

.award-list-container-row-form-filter{
    display: flex;
    flex-wrap: wrap;
}

.award-list-container-actions-table{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.award-list-container-actions-table button{
    margin: 0 9px;
    background: transparent;
    color: var(--color-one);
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    cursor: pointer;
}
.award-list-container-actions-table a{
    margin: 0 9px;
    background: transparent;
    color: var(--color-one);
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    cursor: pointer;
    text-decoration: none;
}
@media only screen and (max-width: 1100px){
    .award-list-container-table{
        justify-content: flex-start;
        overflow: auto;
    }
}

@media only screen and (max-width: 800px){
    .award-list-container-row-form{
        flex-direction: column;
    }
    .award-list-form-box{
        width: 100%;
        margin-bottom: 14px;
    }
    .award-list-form-box select {
        width: 100%;
    }

    .award-list-order-srs-search{
        flex-direction: column;
        margin: 23px 0;
    }

    .award-list-order-srs-box{
        width: 100%;
    }
    .award-list-order-srs-box input{
        width: 100%;
    }

    .container-actions-checks-requests{
        width: 100%;
        margin-top: 23px;
        justify-content: center;
    }
    .award-list-container-identify-page{
        margin: 26px 0;
    }

    .award-list-select-large{
        width: 100%;
    }
}