.map-section-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: center;
}
.map-actions-page{
    position: absolute;
    margin: 12px;
    display: flex;
    z-index: 2;
    left: 0;
}
.map-info-page{
    background: var(--background-two);
    padding: 13px;
    display: flex;
    align-items: baseline;
    box-shadow: 0 0 4px 0 var(--color-three);
}
.map-info-page a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-one);
    margin-right: 15px;
    display: flex;
    align-items: baseline;
}
.map-info-page span:nth-child(2){
    font-size: 1.2rem;
    color: var(--color-one);
}
.map-info-page span:nth-child(3){
    margin-left: 4px;
    font-size: 0.7rem;
    color: var(--color-one);
}

/*  */
/*  */
/*  */
#map {
    width: 95%;
    height: 95%;
}
.marker {
background-image: url('https://cdn3.iconfinder.com/data/icons/map-markers-1/512/market-512.png');
background-size: cover;
width: 50px;
height: 50px;
border-radius: 50%;
cursor: pointer;
}
.mapboxgl-popup {
max-width: 200px;
}
.mapboxgl-popup-content {
text-align: center;
font-family: 'Open Sans', sans-serif;
}