.products-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.products-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products-container-page{
    width: 90%;
}

/* IDENTIFICAÇÃO DA PAGINA */
.products-container-identify-page{
    width: 100%;
    margin: 2% 0;
}
.products-container-identify-page span:nth-child(1){
    font-size: 1.2rem;
    color: var(--color-one);
}
.products-container-identify-page span:nth-child(2){
    margin-left: 4px;
    font-size: 0.7rem;
    color: var(--color-one);
}

/***************************/
/* PAGINA */
.products-title-box{
    width: 100%;
    display: flex;
}
.products-title-box span{
    font-size: 0.7rem;
    color: var(--color-one);
}



/* INPUT PARA BUSCAR OS PEDIDOS */
.products-order-srs-search{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.products-order-srs-box{
    width: 70%;
    display: flex;
    align-items: center;
}
.products-order-srs-box input{
    width: 50%;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
    background: transparent;
    color: var(--color-one);
}

.products-order-srs-box  button:nth-child(2){
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one-btn);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.products-order-srs-box  button:nth-child(3){
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid var(--color-one);
}


/* container list */
.products-container-list-all{
    width: 100%;
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}
.section-products-list-center{
    width: 100%;
    padding: 12px;
}

/* actions products list */
.container-actions-checks-products{
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.products-box-actions-checks{
    display: flex;
    flex-direction: column;
}
.products-box-actions-checks label{
    font-size: 0.7rem;
    color: var(--color-one);
}
.products-box-actions-checks > select{
    width: 150px;
    margin-top: 6px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid var(--color-one);
    border-radius: 5px;
    cursor: pointer;
    color: var(--color-one);
    background: transparent;
}
.products-box-actions-checks-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
.products-box-actions-checks-button button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one-btn);
    cursor: pointer;
}

/*********************/
/*********************/
/* TABLE */
.products-container-table{
    width: 100%;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
}
.products-list-table{
    border-collapse: collapse;
    width: 100%;
}
.products-list-table tr th{
    border: none;
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    background: var(--color-one-boxs);
    color: var(--color-four);
    font-weight: normal;
    padding: 6px;
    font-size: 0.9rem;
}
.products-list-table tr td{
    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    padding: 6px;
    color: var(--color-one);
    font-size: 0.9rem;
    cursor: pointer;
    transition: 0.5s;
}
.products-list-table tr:hover{
    transition: 0.5s;
    background: var(--color-eight);
}

.products-list-table tr td input[type=text]{
    width: 100%;
    outline: 0;
    border: 0;
    font-size: 0.9rem;
    padding: 7px 8px;
    color: var(--color-one);
    background: transparent;
    text-align: left;
    border-bottom: 1px solid var(--color-one);
    font-weight: bold;
}

.products-list-table tr td select{
    width: 100%;
    margin-top: 6px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid var(--color-one);
    border-radius: 5px;
    cursor: pointer;
    background: transparent;
    color: var(--color-one);
}

/**************************/
.products-list-table tr th:nth-child(1){
    text-align: center;
    width: 1%;
}
.products-list-table tr th:nth-child(2){
    width: 10%;
    text-align: left;
}
.products-list-table tr th:nth-child(3){
    text-align: center;
    width: 15%;
}
.products-list-table tr th:nth-child(4){
    text-align:center;
    width: 15%;
}
.products-list-table tr th:nth-child(5){
    text-align:center;
    width: 100%;
}
.products-list-table tr th:nth-child(6){
    text-align: center;
    width: 4%;
}
.products-list-table tr th:nth-child(7){
    text-align:center;
    width: 2%;
}


tr:nth-child(even) {
    background-color: var(--color-eight);
}

.products-list-table tr td:nth-child(6){
    justify-content: center;
    text-align: center;
    width: 6%;
}


.products-container-actions-table{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.products-container-actions-table button{
    margin: 0 9px;
    background: transparent;
    color: var(--color-one);
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    cursor: pointer;
}
.products-container-actions-table a{
    text-decoration: none;
    color: var(--color-one);
    border: 0;
    outline: 0;
    font-size: 1.4rem;
    cursor: pointer;
}





/********************************/
/********************************/
/* switch */
.products-button-switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 17px;
}
  
.products-button-switch input { 
    opacity: 0;
    width: 0;
    height: 0;
    outline: 0;
}
  
.products-button-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-six);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.products-button-slider:before {
    position: absolute;
    content: "";
    height: 10px;
    width: 10px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-four);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .products-button-slider {
    background-color: var(--color-one);
}

input:focus + .products-button-slider {
    box-shadow: 0 0 1px var(--color-one);
}

input:checked + .products-button-slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

/* Rounded sliders */
.products-button-slider.round {
    border-radius: 17.5px;
}

.products-button-slider.round:before {
    border-radius: 50%;
}

/*  */
.products-search-form-list-user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.products-search-form-list-users-set{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-one);
    padding: 4px;
    border-radius: 4px;
    margin: 5px;
}
.products-search-form-list-users-set input{
    min-width: fit-content;
    outline: 0;
    border: none;
    font-size: 0.9rem;
    color: var(--color-one);
    font-weight: bold;
}
.products-search-form-list-users-set button{
    border: none;
    color: var(--color-one);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 900px){
    .products-container-table{
        overflow: auto;
    }
    .products-list-table{
        min-width: 800px;
    }
    .products-list-table tr th:nth-child(2){
        text-align: center;
        width: 10%;
    }
    .products-list-table tr th:nth-child(3){
        text-align: center;
        width: 15%;
    }
    .products-list-table tr th:nth-child(6){
        text-align: center;
        width: 10%;
    }
}

@media only screen and (max-width: 500px){
    .container-actions-checks-products{
        margin: 23px 0;
        justify-content: center;
    }
    .products-container-identify-page{
        margin: 26px 0;
    }


    .products-order-srs-search{
        flex-direction: column;
    }
    .products-order-srs-box{
        width: 100%;
    }
    .products-order-srs-box input{
        width: 100%;
    }
    .container-actions-checks-products{
        width: 100%;
        margin-top: 23px;
        justify-content: center;
    }
}