.sales-day-form-main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sales-day-form-section-page{
    width: 90%;
}

/* FORMULARIO EM SI */
.sales-day-form-display{
    width: 100%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
}
.sales-day-form-title{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
    padding: 14px;
}
.sales-day-form-title-one{
    font-size: 1rem;
    color: var(--color-three);
}
/*  */
.sales-day-form-info{
    display: flex;
    align-items: center;
}
.sales-day-form-info label{
    font-size: 1rem;
    color: var(--color-three);
    font-weight: bold;
}
.sales-day-form-info select{
    padding: 7px 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--color-three);
    border-radius: 4px;
    color: var(--color-three);
    margin: 0 21px;
    font-weight: bold;
    background: var(--color-two);
}
/*  */
.sales-day-form-info input[type=date]{
    margin: 0 21px;
    font-weight: bold;
    width: fit-content;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    color: var(--color-three);
    border: 1px solid var(--color-three);
    border-radius: 4px;
}

/*  */
.sales-day-form-title-two{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.sales-day-form-title-img-logo{
    width: 100%;
    object-fit: contain;
}

/* SEÇÕES DO FOMRULARio */
.sales-day-form-section{
    width: 100%;
    display: none;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 24px;
}

.sales-day-form-section-title{
    font-size: 1.4rem;
    color: var(--color-two);
}
.sales-day-form-section-desc{
    margin-top: 10px;
    font-size: 1rem;
    color: var(--color-two);
}

/*  */
.sales-day-form-section-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*  */
.sales-day-form-section-question-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.question-box-row{
    flex-direction: row !important;
    align-items: center;
    
}
.question-box-row .sales-day-form-section-question-title {
    min-width: 220px;
}
.question-box-row label{
    margin-right: 17px;
}
.sales-day-form-section-question-title{
    font-size: 1rem;
    color: var(--color-two);
    font-weight: bold;
}
/*  */
.sales-day-form-section-text{
    width: fit-content;
    display: flex;
}
hr{
    margin: 14px 0;
}
.sales-day-form-section-text input[type=number]{
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border: 1px solid var(--color-one);
    border-radius: 4px;
}
.sales-day-form-section-text input[type=text]{
    min-width: 450px;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border: 1px solid var(--color-one);
    border-radius: 4px;
}
/*  */
.sales-day-form-section-question-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
}
.sales-day-form-section-questions-select select{
    padding: 5px;
    color: var(--color-one);
    cursor: pointer;
    margin-right: 15px;
}

.sales-day-form-section-questions-checks-text{
    display: flex;
    align-items: center;
}
.sales-day-form-section-questions-checks-text label{
    font-size: 0.7rem;
    color: var(--color-one);
    margin-right: 6px;
}
.sales-day-form-section-questions-checks-text input{
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border: 1px solid var(--color-one);
    border-radius: 4px;
}


/*  */
.sales-day-action-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.sales-day-action-form-button-send{
    outline: 0;
    border: 0;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-two);
    cursor: pointer;
    margin: 0 24px;
}
.sales-day-action-form-button-reset{
    text-decoration: none;
    outline: 0;
    border: 0;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid var(--color-one);
    margin: 0 24px;
}

/*  */
.sales-search-link-back{display: flex; margin: 20px 0;}
.sales-search-link-back a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-one);
}

/************************/
/************************/
/* RESPONSIVE */
@media only screen and (max-width: 900px){
    .sales-day-form-title{
        flex-direction: column;
        height: 100%;
    }
    .sales-day-form-info{
        flex-direction: column;
        padding: 23px 0;
    }
    .sales-day-form-info input[type=date]{
        margin-top: 18px;
    }
    .sales-day-form-section-text input[type=text]{
        min-width: 100%;
    }
}