.visit-form-main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.visit-form-section-page{
    width: 90%;
}

/* FORMULARIO EM SI */
.visit-form-display{
    width: 100%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
}
.visit-form-title{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-two-boxs);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
    padding: 14px;
    overflow: auto;
}
.visit-form-title-one span{
    font-size: 1rem;
    color: var(--color-four);
}
/*  */
.visit-form-info{
    display: flex;
    align-items: center;
}
.visit-form-info label{
    font-size: 1rem;
    color: var(--color-four);
}

.visit-form-input-single{
    min-width: min-content;
    padding: 5px;
    background: transparent;
    border: 1px solid var(--color-four);
    border-radius: 4px;
    color: var(--color-four);
    margin: 0 21px;
    background: transparent;
}
.visit-form-input-large{
    min-width: 400px;
    padding: 5px;
    background: transparent;
    border: 1px solid var(--color-four);
    border-radius: 4px;
    color: var(--color-four);
    margin: 0 21px;
    background: transparent;
}
.visit-form-info select{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: 1px solid var(--color-three);
    border-radius: 4px;
    color: var(--color-three);
    margin: 0 21px;
    background: var(--color-two);
}
.visit-form-info input[type=date]{
    margin: 0 21px;
    width: fit-content;
    background: transparent;
    padding: 5px;
    cursor: pointer;
    color: var(--color-four);
    border: 1px solid var(--color-four);
    border-radius: 4px;
}

/*  */
.visit-form-title-two{
    width: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.visit-form-title-img-logo{
    width: 100%;
    object-fit: contain;
}

/* SEÇÕES DO FOMRULARio */
.visit-form-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    padding: 0 24px;
}
.visit-form-section-title{
    font-size: 0.8rem;
    color: var(--color-two);
}
.visit-form-section-desc{
    margin-top: 10px;
    font-size: 1rem;
    color: var(--color-two);
}

/* LIST USERS */
.visit-form-users-list{
    width: 100%;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 14px 0;
}
.visit-form-users-title{
    display: flex;
    font-size: 0.9rem;
    color: var(--color-two);
    margin: 10px 0;
}
/*  */
.visit-form-users-box{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    user-select: none;
}

/*  */
.visit-form-users-list-box{
    width: min-content;
    padding: 4px 7px;
    border: 1px solid var(--color-three);
    border-radius: 4px;
    margin: 7px;
}
.visit-form-users-list-box span{
    color: var(--color-one);
    font-size: 0.8rem;
}

/*  */
.visit-form-section-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/*  */
.visit-form-section-question-box{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 14px;
}
.question-box-row{
    flex-direction: row !important;
    align-items: center;
    
}
.question-box-row .visit-form-section-question-title {
    min-width: 220px;
}
.question-box-row label{
    margin-right: 17px;
}
.visit-form-section-question-title{
    display: flex;
}
.visit-form-section-question-title input{
    font-size: 1rem;
    color: var(--color-two);
    font-weight: bold;
    border: none;
    outline: 0;
    width: -webkit-fill-available;
    background: transparent;
}
.visit-form-section-question-cont{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 12px;
}
/*  */
.visit-form-section-question-cont textarea{
    width: 100%;
    resize: none;
    border: 1px solid var(--color-three);
    border-radius: 2px;
    padding: 8px;
    outline: 0;
    background: transparent;
    color: var(--color-two);
}

.visit-form-section-questions-checks{
    width: fit-content;
    display: flex;
    align-items: center;
    margin-right: 14px;
    margin-bottom: 14px;
}
.visit-form-section-questions-checks label{
    font-size: 1rem;
    color: var(--color-two);
    padding: 5px 8px;
    border-radius: 8px;
    cursor: pointer;
    border: 1px solid var(--color-three);
}
.visit-form-section-questions-checks input[type=checkbox]{
    width: 15px;
    height: 15px;
    cursor: pointer;
    margin: 0 4px;
}

/*  */
.visit-action-form{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 32px 0;
}
.visit-action-form-button-send{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one-btn);
    cursor: pointer;
    margin: 0 24px;
}
.visit-action-form-button-reset{
    text-decoration: none;
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid var(--color-one);
    margin: 0 24px;
}


/*  */
.visit-search-link-back{display: flex; margin: 20px 0;}
.visit-search-link-back a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-one);
}


/************************/
/************************/
/* RESPONSIVE */
@media only screen and (max-width: 900px){
    .visit-form-title{
        flex-direction: column;
        height: 100%;
    }
    .visit-form-info{
        width: 100%;
        justify-content: center;
        flex-direction: column;
        margin: 23px 0;
    }
    .visit-form-info input[type=date]{
        margin: 0;
    }
    .visit-form-section{
        overflow: auto;
    }
    .visit-form-section-question-box{
        flex-direction: column !important;
    }
    .visit-form-input-large{
        min-width: 100%;
    }
}