<link rel="stylesheet" href="/panel/css/trade/awardNew.css">
<script src="/js/global/jquery.mask.min.js"></script>
<script src="/js/global/moment.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<section class="award-new-section">

    <div class="award-new-title-box" id="award-new-title-box">
        <a class="class-loader" href="/painel/trademkt/award/new"><i class="ri-refresh-line"></i></a>
        <span id="award-new-one"></span>
        <span id="award-new-two"></span>
    </div>

    <form method="post" class="award-new-div-main">

        <div class="award-new-div-brand">
            <div class="award-new-message">
                <span><b><i class="ri-alert-line"></i>⠀INFORME OS PRODUTOS PASSÍVEIS DE PREMIAÇÃO⠀<i class="ri-alert-line"></i></b></span>
            </div>
            <div style="background: black;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Felps Professional</span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row-title">
                <span><b><i class="ri-alert-line"></i>⠀(NÃO INSERIR: OX 90ML, ÓLEO 7ML E SACHÊS!)</b></span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row">
                <!--  -->
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-felps" value="Felps Professional">
                    <input type="number" name="input-values-felps" min="0" value="0">
                </div>
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-felps" tabIndex="-1" value="Felps Coloração">
                    <input type="number" name="input-values-felps" min="0" value="0">
                </div>
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-felps" tabIndex="-1" value="Felps Men">
                    <input type="number" name="input-values-felps" min="0" value="0">
                </div>
                <!--  -->
            </div>
        </div>

        <div class="award-new-div-brand">
            <div style="background: #43BAC8;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Retrô Cosméticos</span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row-title">
                <span><b><i class="ri-alert-line"></i>⠀(NÃO INSERIR: SACHÊS!)</b></span>
            </div>
            <!--  -->
            <div class="award-new-div-brand-row">
                <!--  -->
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-retro" tabIndex="-1" value="Retrô Cosméticos">
                    <input type="number" name="input-values-retro" min="0" value="0">
                </div>
                <!--  -->
            </div>
        </div>

        <div class="award-new-div-brand">
            <div style="background: #468431;" class="award-new-div-brand-title">
                <span style="color: var(--color-four);">Avenca Cosméticos</span>
            </div>
            <div class="award-new-div-brand-row">
                <!--  -->
                <div class="award-new-div-inputs-box">
                    <input readonly type="text" name="input-values-avenca" tabIndex="-1" value="Avenca Cosméticos">
                    <input type="number" name="input-values-avenca" min="0" value="0">
                </div>
                <!--  -->
            </div>
        </div>

        <div class="award-new-actions">
            <input hidden id="input-get-values" name="award-new-report-values" type="text">
            <input hidden type="text" name="monthReference" id="reference-month">
            <input hidden type="text" name="getShopPromot" id="id-shop-promot">
            <input hidden type="text" name="getRepresentante" id="id-user-representante">
            <button type="submit" id="button-send-form" formaction="/painel/trademkt/award/new">Registrar Relátorio</button>
        </div>

    </form>

</section>
<section class="award-new-suspend-section" id="award-new-suspend-section">
    <div class="award-new-suspend-box-main">
        <div class="award-new-suspend-title">
            <span>Antes de começar a preencher nos informe:</span>
            <a class="class-loader" href="/painel/trademkt/award/list"><i class="ri-close-fill"></i></a>
        </div>
        <!--  -->
        <div class="award-new-suspend-content">
            <div class="award-new-suspend-box">
                <label for="">Mês de referência</label>
                <input type="text" id="mask-month" placeholder="Ex: 06/2022">
            </div>

            <!--  -->
            <div class="award-new-suspend-box">
                <label for="">Representante</label>
                <div style="width: 100%; display: flex; align-items: center;">
                    <input style="width: 100%;" type="text" id="input-representante-get" placeholder="Busque pelo representante">
                    <button style="margin-left: 2%; display: none;" type="button" id="button-open-search-representante"><i class="ri-search-line"></i></button>
                </div>
            </div>
            <% if(JSON.parse(setValidation)[0] == 1){ %>
                
            <% } %>
            <!--  -->
            <div class="award-new-suspend-box" style="display: none;" id="box-show-shops-promot">
                <label for="">Selecione a <b>promotora/loja</b></label>
                <div style="width: 100%; display: flex; align-items: center;">
                    <input style="width: 100%;" type="text" id="input-person-shop" placeholder="Busque e selecione a(o) loja/promotor(a) ">
                    <button style="margin-left: 2%;" type="button" id="button-open-search"><i class="ri-search-line"></i></button>
                </div>
            </div>
            <div class="award-new-alert" id="award-new-alert-link-box">
                <span>Você possui um relátorio vinculado a esta loja/promotora no mes selecionado! <a class="class-loader" id="award-new-alert-link">Edite clicando aqui</a></span>
            </div>
        </div>
    </div>
</section>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<section class="award-new-box-list-itens" id="award-new-box-list-itens">
    <div class="award-new-box-main-itens">
        <div class="award-new-box-main-itens-title">
            <span>Busque por promotor(a)/loja</span>
            <i id="close-list-itens" class="ri-close-line"></i>
        </div>
        <div class="award-new-box-main-itens-input">
            <input type="text" placeholder="Busque aqui.." id="search-item-table-input">
        </div>
        <div class="award-new-box-main-itens-table-display">
            <table class="award-new-box-main-itens-table" id="award-new-box-main-itens-table">
                <thead>
                    <!--  -->
                </thead>
                <tbody>
                    
                    <!-- <tr>
                        <td><button class="button-add-item award-new-box-main-itens-table-button-item" value="">asasasasasasasasasasas</button></td>
                        <td>
                            <button value="" class="award-new-box-main-itens-table-button button-add-item">
                                <i class="ri-arrow-right-line"></i>
                            </button>
                        </td>
                    </tr> -->
                    
                </tbody>
            </table>
        </div>
    </div>
</section>
<!--  -->
<!--  -->
<!--  -->
<!--  -->
<section class="award-new-box-list-itens" id="award-new-box-list-representantes">
    <div class="award-new-box-main-itens">
        <div class="award-new-box-main-itens-title">
            <span>Busque por representantes</span>
            <i id="close-list-representante" class="ri-close-line"></i>
        </div>
        <div class="award-new-box-main-itens-input">
            <input type="text" placeholder="Busque aqui.." id="search-item-table-input-representante">
        </div>
        <div class="award-new-box-main-itens-table-display">
            <table class="award-new-box-main-itens-table" id="award-new-box-main-itens-table-representante">
                <thead>
                    <!--  -->
                </thead>
                <tbody>
                    
                    <!-- <tr>
                        <td><button class="button-add-item award-new-box-main-itens-table-button-item" value="">asasasasasasasasasasas</button></td>
                        <td>
                            <button value="" class="award-new-box-main-itens-table-button button-add-item">
                                <i class="ri-arrow-right-line"></i>
                            </button>
                        </td>
                    </tr> -->
                    
                </tbody>
            </table>
        </div>
    </div>
</section>


<!--  -->
<!--  -->
<script>
/*  */
</script>
<script>
    /* ***************************** */
    /* ***************************** */
    /* ***************************** */
    //Funções
    $.blockRepresentante = function(nameRpresent){
        //alert('olá representante')
        $("#input-representante-get").val(nameRpresent).attr('readonly',true).css({'background':'var(--color-eight)','cursor':'default','outline':0})
        $.nextInputSearch(nameRpresent)
    }
    $.showAdmin = function(){
        $("#button-open-search-representante").fadeIn()
    }

    /* Função para buscar lojas e promotoras */
    $.nextInputSearch = function(valueSearch){
        //$.fn.loadSpin(1);
        $("#sys-section-loader").fadeIn();//Load spin

        if(valueSearch == ''){
            //Valor vazio
            $("#sys-section-loader").fadeOut();//Load spin
        }else{

            $("#award-new-alert-link-box").is(':visible') == true ? $("#award-new-alert-link-box").fadeOut() : ''

            socket.emit('searchRepresentante', (valueSearch))
        
            //Resultado
            socket.on('searchRepresentanteGet', (data) => {
                if(data[0].length == 0){
                    //Nenhum dado encontrado
                    //console.log('nenhum dado')
                    $("#box-show-shops-promot").fadeOut()

                    $.notification(
                        ["Nenhum representante econtrado"],
                        {
                            position: ['top', 'right'], 
                            messageType: 'warning',
                            timeView: 5000,
                            //redirectAction: 'https://google.com' ou null
                        }
                    )

                    $("#sys-section-loader").fadeOut();//Load spin
                }else{
                    //Existem dados para a busca
                    //console.log('possui dados')

                    $.fn.loadSpin(0)
                    $("#box-show-shops-promot").fadeIn()
                    $("#input-person-shop").val('')

                    /*  */
                    /*  */
                    /*  */
                    //Inserindo na tabela dinamica
                    $("#award-new-box-main-itens-table").empty()

                    data[0].forEach(element => {
                        $("#award-new-box-main-itens-table").append(`
                            <tr>
                                <td><button onclick="$.buttonAdd('${element}','${data[1][0].jcv_id}')" class="award-new-box-main-itens-table-button-item" value="${element}">${element}</button></td>
                                <td>
                                    <button type="button" onclick="$.buttonAdd('${element}','${data[1][0].jcv_id}')" value="${element}" class="award-new-box-main-itens-table-button">
                                        <i class="ri-arrow-right-line"></i>
                                    </button>
                                </td>
                            </tr>
                        `)
                    })

                    //Box de lista de itens
                    $.fn.searchInputTable('#award-new-box-main-itens-table tr', '#search-item-table-input')

                    /*  */
                    /*  */
                    /*  */
                    //Configurando o input de lojas/promotoras
                    let dataPromotLoja = data[0];
                    //Primeiro campo
                    $("#input-person-shop").autocomplete({
                        source: function(request, response) {
                            var results = $.ui.autocomplete.filter(dataPromotLoja, request.term);
                            response(results.slice(0, 5));
                        },
                        select: function (e, i) {
                            //
                            $.validateRegisters($("#mask-month").val(),i.item.value,data[1][0].jcv_id)
                        }
                    });
                }

                socket.removeListener('searchRepresentanteGet')
            })
        }
    }
    /* Função para criar a lista de representantes na tabela */
    $.functionListRepresentante = function(arrayData){
        
        $("#award-new-box-main-itens-table-representante").empty();
        arrayData.forEach(element => {
            $("#award-new-box-main-itens-table-representante").append(`
                <tr>
                    <td><button onclick="$.buttonAddRepresentante('${element}')" class="award-new-box-main-itens-table-button-item" value="${element}">${element}</button></td>
                    <td>
                        <button type="button" onclick="$.buttonAddRepresentante('${element}')" value="${element}" class="award-new-box-main-itens-table-button">
                            <i class="ri-arrow-right-line"></i>
                        </button>
                    </td>
                </tr>
            `)
        })
        //Box de lista de itens
        $.fn.searchInputTableSingled = function(tableRows, inputSearchTable){
        
            const rows = $(`${tableRows}`);
            $(inputSearchTable).keyup(function() {
                
                if($(this).val() != ''){
                    //console.log('fechar')
                    $.fn.closePagination(0)//Fechar a paginação
                }else{
                    //console.log('abrir')
                    $.fn.closePagination(1)//Abrir a paginação
                }

                var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
                
                rows.show().filter(function() {
                    var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();

                    return !~text.indexOf(val);
                }).hide();
            });
            
        }
        $.fn.searchInputTableSingled('#award-new-box-main-itens-table-representante tr', '#search-item-table-input-representante')
    }

    /* Função para validar a existência de registros */
    $.validateRegisters = function(validateMonth, validatePromotoraLoja, validateRepresentante){
        $.fn.loadSpin(1)

        if([validateMonth, validatePromotoraLoja, validateRepresentante].indexOf('') > -1){
            //Alguns parametros sem dados
            $.fn.loadSpin(0)
            $.notification(
                ["Você precisa preencher os <b>TRÊS</b> campos"],
                {
                    position: ['top', 'right'], 
                    messageType: 'warning',
                    timeView: 5000,
                    //redirectAction: 'https://google.com' ou null
                }
            )
        }else{
            //console.log([validateMonth, validatePromotoraLoja, validateRepresentante])
            socket.emit('getRegistersPremiation', ([validateMonth, validatePromotoraLoja, validateRepresentante]))
            //Resultado da validação
            socket.on('getRegistersPremiationSend', (data) => {
                //console.log(data)
                if(data == null || data.length == 0){
                    //Nenhum registro encontrado, podemos exibir

                    //Inputs
                    $("#id-shop-promot").val(validatePromotoraLoja)
                    $("#reference-month").val(validateMonth)
                    $("#id-user-representante").val(validateRepresentante)

                    $(".award-new-div-brand-title").css({'display':'flex','justify-content': 'space-between'})

                    $("#award-new-title-box").fadeIn().css({'display':'flex'})
                    $("#award-new-one").text(validatePromotoraLoja)
                    $("#award-new-two").text(validateMonth)

                    $("#award-new-suspend-section").fadeOut()

                }else{
                    //Registro encontrado
                    $("#award-new-alert-link-box").fadeIn().css({'display':'flex'})
                    $("#award-new-alert-link").attr('href','/painel/trademkt/award/edit/'+data[0].jcv_award_registers_uuid)
                }
                $.fn.loadSpin(0)
                socket.removeListener('getRegistersPremiationSend')
            })
        }
    }
    $.buttonAdd = function(promotValue, representValue){
        $.validateRegisters($("#mask-month").val(),promotValue,representValue)
        $("#input-person-shop").val(promotValue)
        $("#award-new-box-list-itens").fadeOut()
    }
    $.buttonAddRepresentante = function(representValue){

        $.nextInputSearch(representValue)
        $("#award-new-box-list-representantes").fadeOut()
        $("#input-representante-get").val(representValue)
        //validateRegisters($("#mask-month").val(),promotValue,representValue)
        //$("#input-person-shop").val(promotValue)
        //$("#award-new-box-list-itens").fadeOut()
    }
    /* ***************************** */
    /* ***************************** */
    /* ***************************** */

    //Box de filtro
    $("#button-open-search").click(function(){
        $("#award-new-box-list-itens").fadeIn().css({'display':'flex'})
    })
    $("#button-open-search-representante").click(function(){
        $("#award-new-box-list-representantes").fadeIn().css({'display':'flex'})
    })
    
    $("#close-list-itens").click(function(){$("#award-new-box-list-itens").fadeOut()})
    $("#close-list-representante").click(function(){$("#award-new-box-list-representantes").fadeOut()})
    
    //Configurando o input mês
    var options =  {
        onComplete: function(value) {

            //Verificando se o a div de promotoras/loja esta visível
            if($("#box-show-shops-promot").is(':visible') == true){
                //Div visivel

                //Chamando função
                $.nextInputSearch($("#input-representante-get").val())

                $.notification(
                    ["Insira o(a) promotor(a)/loja novamente"],
                    {
                        position: ['top', 'right'], 
                        messageType: 'warning',
                        timeView: 6000,
                        //redirectAction: 'https://google.com' ou null
                    }
                )

                //Destacando o input
                $("#input-person-shop").css({'border':'1px solid var(--color-red)'})
                setTimeout(() => {
                    $("#input-person-shop").css({'border':'1px solid var(--color-seven)'})
                }, 4000);
            }
        
        },
    };
    $("#mask-month").mask('00-0000', options);
    

    if('<%= JSON.parse(setValidation)[0] %>' == '2'){
        $.blockRepresentante('<%= JSON.parse(setValidation)[1] %>')
    }else{
        $.showAdmin()
    }


    //Configurando o input representante
    let validationTypes = JSON.parse('<%- setValidation %>');
    if(validationTypes[0] == 1){
        //é admin gerando o relatorio
        let arrayDataOneRep = validationTypes[1];
        //Auto completar input representante

        //Função criando tabela representante
        $.functionListRepresentante(arrayDataOneRep);

        $("#input-representante-get").autocomplete({
            source: function(request, response) {
                var results = $.ui.autocomplete.filter(arrayDataOneRep, request.term);
                response(results.slice(0, 5));
            },
            select: function (e, i) {
                //
                $.nextInputSearch(i.item.value)
                //validateInputs()
            }
        });

        //Pegando a digitação em tempo real
        $("#input-representante-get").keyup(function(){
            let valueTyping = $(this).val();
            $("#award-new-alert-link-box").is(':visible') == true ? $("#award-new-alert-link-box").fadeOut() : ''
            if(validationTypes.indexOf(valueTyping) == -1){
                $("#box-show-shops-promot").fadeOut()
            }else{ 
                $("#box-show-shops-promot").fadeIn()
                
            }
        })
    }else{
        //representante

        //Informando o input que pega o representate como null
        $("#id-user-representante").val(null)
    }
        
</script>