<link rel="stylesheet" href="/panel/css/main/index.css">
<link rel="stylesheet" href="/panel/css/trade/StylePDF.css">

<section class="pdf-trade-section">

    <div class="pdf-trade-header">
        <div class="pdf-trade-header-title">
            <span>Formulário de Visita - Merchandising</span>
            <span><%= getInfoFormVisit[0].jcv_trade_shops_name_social %> | <%= getInfoFormVisit[0].jcv_trade_visit_created %></span>
        </div>

        <div class="pdf-trade-header-logo">
            <img class="pdf-trade-img" src="/logos/jcvLogo.png" alt="">
        </div>
    </div>

    <!--  -->

    <div class="pdf-trade-main">
        <!--  -->

        <div class="pdf-trade-form-section">
            <div class="pdf-trade-form-section-title">
                <span>Seção 1 - Marketing Mix</span>
            </div>
            <div class="pdf-trade-form-section-desc">
                <span>Selecione as opções verificadas na visita de trade marketing</span>
            </div>
            <div class="pdf-trade-form-section-questions">

                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-1-step" value="Quais marcas do grupo a loja comercializa:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FELPS</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-1-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FELPS MEN</label>
                            <input hidden type="checkbox">
                            <input hidden type="text">
                            <input name="pdf-trade-form-1-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>RETRÔ</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-1-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>AVENCA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-1-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-2-step" value="Quais linhas da felps a loja comercializa:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>QUIABO XBTX</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>ANTIRRESÍDUO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>ÔMEGA ZERO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>MACADÂMIA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>X REPAIR</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>X FORCE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>X COLOR</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>X NUTRITIVE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BANHO VERNIZ</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>MARULA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>SOS</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXTRATO DE BAMBOO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>CACHOS</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>SOU LOIRA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>RP PREMIUM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>MATIZADORES</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>PÓ DESCOLORANTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>UNIQ CREAM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>ÓLEO DE ARGAN</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>VEGAN OIL KALAHARI</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EQUILÍBRIO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>QUIABO XBTX PÓS PROGRESSIVA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FELPS COLOR TINTURAS</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-2-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-3-step" value="Quais linhas da felps men a loja comercializa:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">POKER</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-3-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">BLACK JACK</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-3-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">CRAPS</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-3-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-4-step" value="Quais linhas da Retrô cosméticos a loja comercializa:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>MONA & LISA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>LISO MAGIA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>SOUL COCO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>SUPER TÔNICO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>ALÔ, É VERA!</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>MANDIOCA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BLOND ANGEL</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>ELIZABETH</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-4-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-5-step" value="Quais linhas da avenca cosméticos a loja comercializa:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">MÁSCARA PRETA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">MÁSCARA OURO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">VITAMINA C</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">MÁSCARA PORCELANA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">DETOX PÉ</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">IDEALY</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">ACNEED</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label for="">ÁGUA MICELAR</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-5-step" hidden type="text">
                        </div>
                    </div>
                </div>
            <!--  -->
            </div>
        </div>

        <!--  -->



        <hr>
        <div class="pdf-trade-form-section">
            <div class="pdf-trade-form-section-title">
                <span>Seção 2 - Trade Marketing/Merchandising</span>
            </div>
            <div class="pdf-trade-form-section-desc">
                <span>Selecione as opções verificadas no pdv</span>
            </div>
            <div class="pdf-trade-form-section-questions">

                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-6-step" value="Espaço para treinamentos:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-6-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-6-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-6-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-6-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-6-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-7-step" value="Estrutura para compre e aplique:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-7-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-7-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-7-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-7-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-7-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-8-step" value="Recursos na loja: FELPS,RETRÔ e AVENCA. Materiais Gráficos:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>STOPPER</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>WOBBLER</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FAIXA GÔNDOLA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>URNA SORTEIO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>CATÁLOGO FOLDER</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>CATÁLOGO FELPS COLOR</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>COMPRE & GANHE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-8-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-9-step" value="Recursos na loja: FELPS,RETRÔ e AVENCA. Brindes:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>SACOLA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-9-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>SACHÊ 10G</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-9-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>MINIATURA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-9-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OUTROS</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-9-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-10-step" value="Recursos na loja: FELPS,RETRÔ e AVENCA. Felps Color Tinturas:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>TIGELA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-10-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>ESPÁTULA</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-10-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>PINCEL</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-10-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FAIXA COMPRE GANHE OX</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-10-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-11-step" value="RÉGUA ou FAIXA DE GÔNDOLA:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-11-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-11-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-11-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-11-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-11-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-12-step" value="STOPPER:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-12-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-12-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-12-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-12-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-12-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-13-step" value="WOBBLER:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-13-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-13-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-13-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-13-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-13-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-14-step" value="MÓBILE:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-14-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-14-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-14-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-14-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-14-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-15-step" value="BALÃO AÉREO:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-15-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-15-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-15-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-15-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-15-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-16-step" value="CARTAZ AÉREO:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-16-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-16-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-16-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-16-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-16-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-17-step" value="TÓTEM:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-17-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-17-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-17-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-17-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-17-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-18-step" value="TÓTEM ALCOOL GEL:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-18-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-18-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-18-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-18-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-18-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-19-step" value="TÓTEM ELIPTICO DOBRÁVEL:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-19-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-19-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-19-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-19-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-19-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-20-step" value="ADESIVO DE CHÃO:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-20-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-20-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-20-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-20-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-20-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-21-step" value="CAVALETE:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-21-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-21-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-21-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-21-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-21-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-22-step" value="BALCÃO DE PDV:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-22-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-22-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-22-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-22-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-22-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-23-step" value="CUBOS MODULARES:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-23-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-23-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-23-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-23-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-23-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-24-step" value="CLIP STRIP:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-24-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-24-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-24-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-24-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-24-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-25-step" value="VITRINE ADESIVADA:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-25-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-25-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-25-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-25-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-26-step" value="FACHADA ADESIVADA:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-26-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-26-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-26-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-26-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-26-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-27-step" value="TOLDO:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-27-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-27-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-27-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-27-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-27-step" hidden type="text">
                        </div>
                    </div>
                </div>
            <!--  -->
            <hr>
            <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-28-step" value="TV, PAINEL DIGITAL P/ VIDEOS:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>NÃO TEM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-28-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>FRACO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-28-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-28-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-28-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>OPORTUNIDADE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-28-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-29-step" value="RELACIONAMENTO COM STAFF LOJA:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>PADRÃO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-29-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-29-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-29-step" hidden type="text">
                        </div>
                    </div>
                </div>
                <!--  -->
                <hr>
                <!--  -->
                <div class="pdf-trade-form-section-question-box question-box-row">
                    <div class="pdf-trade-form-section-question-title">
                        <input type="text" readonly name="pdf-trade-form-30-step" value="FLEXIBILIDADE PARA AÇÕES DE MARCA:">
                    </div>
                    
                    <div class="pdf-trade-form-section-question-cont">
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>PADRÃO</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-30-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>BOM</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-30-step" hidden type="text">
                        </div>
                        <div class="pdf-trade-form-section-questions-checks">
                            <label>EXCELENTE</label>
                            <input hidden type="checkbox">
                            <input name="pdf-trade-form-30-step" hidden type="text">
                        </div>
                    </div>
                </div>
            </div>
            <!--  -->
            <hr>
            <!--  -->
            <div class="pdf-trade-form-section-question-box">
                <div class="pdf-trade-form-section-question-title">
                    <input type="text" readonly value="Observações:">
                </div>
                
                <div class="pdf-trade-form-section-question-cont">
                    <div class="pdf-trade-form-section-question-cont-observation" id="value-observations">
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <!--  -->
                        <!--  -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="/js/jquery-3.5.1.min.js"></script>
<script>

    //console.log('<%- getInfoFormVisit[0].jcv_trade_visit_repsonses %>')
    let arrayForm = JSON.parse('<%- getInfoFormVisit[0].jcv_trade_visit_repsonses %>');
    //console.log(Object.values(arrayForm))

    let valuesFormResponse = []
    Object.values(arrayForm).forEach(element => {
        element.forEach(teste => {
            if(teste != ''){
                valuesFormResponse.push(teste)
            }
        })
    })

    /*  */
    /*  */
    /*  */
    /*  */

    let newArr = [];
    let count = 1;
    Object.entries(arrayForm).forEach(([key, value]) => {	
        value.forEach(element => {
            newArr.push(count+' - '+element)
            
        })
        count++
    })

    let arrayDataForm = newArr;
    //let arrayDataForm = ['1 - FELPS','1 - RETRÔ','1 - AVENCA','2 - OKRA','2 - SIM']//Aqui vou listar as resposta '1' é igual a pergunta e FELPS e resposta
    let nameInput = 'pdf-trade-form-XXX-step';
    let nameQuestionDiv = 'pdf-trade-form-section-questions-checks'
    let countIn = 1;//Contador de input

    //O input codigo 31 é de observação
    //Inserindo a resposta
    let verify = 'Sem observação...';
    arrayDataForm.forEach(element => {
        if(parseInt(element.split(' - ')[0]) == 31){
            verify = element.split(' - ')[1]
        }
    })
    $("#value-observations").append(verify)


    function executeAction (nameInputTag, nameBox, arrayData){

        let inputNameSet = nameInputTag.split('XXX')[0]+countIn+nameInputTag.split('XXX')[1]
        
        let inputGet = $("input[name="+inputNameSet+"]");//Pegando o input name cru

        //Verifica se o input posui valor
        if(inputGet.val() != undefined){
            inputGet.map(function(valueMap){
                //valueMap e o valor de cada input com este nome

                //O codigo da pergunta é de acordo com o nome da pergunta
                //1 = Pergunta 1
                let questionNameCode = countIn;//Codigo da pergunta
                let questionName = $(this).closest('.'+nameBox).children('label').text();//Perguntas em si

                //Pegando o cogido da pergunta e o nome da pergunta
                let codeQuestionName = questionName != '' ? questionNameCode+' - '+questionName : 0;

                //Valida se existe uma realmente existe nas respostas da pergunta      
                let validationQuestion = arrayData.indexOf(codeQuestionName)
                if(validationQuestion != -1){
                    //A resposta foi encontrada e é válida
                    $(this).closest('.'+nameBox).children('label').css({'background':'var(--color-one)','color':'white'})
                }
            
            })
            
            //Após validar tudo ele faz o loop novamente
            countIn++
            executeAction (nameInputTag, nameBox, arrayDataForm)
        }
        
    }

    executeAction(nameInput, nameQuestionDiv, arrayDataForm)
</script>