<link rel="stylesheet" href="/panel/css/trade/visitaFormulario.css">

<section class="visit-form-main-section">
    <section class="visit-form-section-page">
        <div class="visit-form-display">
            <div class="visit-form-title">
                <div class="visit-form-title-one">
                    <span>Formulário de Visita - Merchandising</span>
                </div>
                <!--  -->
                <div class="visit-form-title-two">
                    <img class="visit-form-title-img-logo" src="/logos/logo-jcv-03.png" alt="">
                </div>
            </div>

            <!--  -->

            <div class="visit-form-section">
                <div class="visit-form-section-title">
                    <span>Seção 1 - Marketing Mix</span>
                </div>
                <div class="visit-form-section-desc">
                    <span>Assinale as opções verificadas na visita de trade marketing</span>
                </div>
            </div>
        </div>
    </section>
</section>