<link rel="stylesheet" href="/panel/css/trade/visitaFormulario.css">

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<section class="visit-form-main-section">
    <form class="visit-form-section-page" method="post">
        <div class="visit-search-link-back">
            <a class="class-loader" href="/painel/trademkt/main">
                <i class="ri-arrow-left-line"></i>
            </a>
        </div>
        <div class="visit-form-display">
            <div class="visit-form-title">
                <div class="visit-form-title-one">
                    <span>Formulário de Visita - Merchandising</span>
                </div>
                <div class="visit-form-info">
                    <label for="">CNPJ</label>
                    <input required class="visit-form-input-single" type="text" name="visit-shop-cnpj" id="input-shop-cnpj">
                </div>
                <div class="visit-form-info">
                    <label for="">LOJA</label>
                    <input required class="visit-form-input-large" type="text" name="visit-shop" id="input-shop-name">
                </div>
                <div class="visit-form-info">
                    <label for="">Data</label>
                    <input required type="date" name="visit-shop-name" id="date-form-now">
                </div>
                <!--  -->
                <div class="visit-form-title-two">
                    <img class="visit-form-title-img-logo" src="/logos/logo-jcv-03.png" alt="">
                </div>
            </div>

            <!--  -->
            <hr>
            <div class="visit-form-section">
                <div class="visit-form-users-list" id="visit-form-users-list">
                    <div id="title-users-shops" class="visit-form-users-title">
                        <!--  -->
                    </div>
                    <div class="visit-form-users-box" id="visit-form-users-box">
                        <!--  -->
                        <!--  -->
                        <!--  -->
                    </div>
                    <!--  -->
                    <hr style="margin: 14px 0;">
                    <!--  -->
                </div>
                <div class="visit-form-section-title">
                    <span>Seção 1 - Marketing Mix</span>
                </div>
                <div class="visit-form-section-desc">
                    <span>Selecione as opções verificadas na visita de trade marketing</span>
                </div>
                <div class="visit-form-section-questions">

                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-1-step" value="Quais marcas do grupo a loja comercializa:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>FELPS</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-1-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FELPS MEN</label>
                                <input hidden type="checkbox">
                                <input hidden type="text">
                                <input name="visit-form-1-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>RETRÔ</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-1-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>AVENCA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-1-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-2-step" value="Quais linhas da felps a loja comercializa:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>QUIABO XBTX</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>ANTIRRESÍDUO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>ÔMEGA ZERO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>MACADÂMIA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>X REPAIR</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>X FORCE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>X COLOR</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>X NUTRITIVE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BANHO VERNIZ</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>MARULA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>SOS</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXTRATO DE BAMBOO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>CACHOS</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>SOU LOIRA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>RP PREMIUM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>MATIZADORES</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>PÓ DESCOLORANTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>UNIQ CREAM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>ÓLEO DE ARGAN</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>VEGAN OIL KALAHARI</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EQUILÍBRIO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>QUIABO XBTX PÓS PROGRESSIVA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FELPS COLOR TINTURAS</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-2-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-3-step" value="Quais linhas da felps men a loja comercializa:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label for="">POKER</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-3-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">BLACK JACK</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-3-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">CRAPS</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-3-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-4-step" value="Quais linhas da Retrô cosméticos a loja comercializa:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>MONA & LISA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>LISO MAGIA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>SOUL COCO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>SUPER TÔNICO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>ALÔ, É VERA!</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>MANDIOCA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BLOND ANGEL</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>ELIZABETH</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-4-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-5-step" value="Quais linhas da avenca cosméticos a loja comercializa:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label for="">MÁSCARA PRETA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">MÁSCARA OURO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">VITAMINA C</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">MÁSCARA PORCELANA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">DETOX PÉ</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">IDEALY</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">ACNEED</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label for="">ÁGUA MICELAR</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-5-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                   <!--  -->
                </div>
            </div>

            <!--  -->



            <hr>
            <div class="visit-form-section">
                <div class="visit-form-section-title">
                    <span>Seção 2 - Trade Marketing/Merchandising</span>
                </div>
                <div class="visit-form-section-desc">
                    <span>Selecione as opções verificadas no pdv</span>
                </div>
                <div class="visit-form-section-questions">

                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-6-step" value="Espaço para treinamentos:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-6-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-6-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-6-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-6-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-6-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-7-step" value="Estrutura para compre e aplique:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-7-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-7-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-7-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-7-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-7-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-8-step" value="Recursos na loja: FELPS,RETRÔ e AVENCA. Materiais Gráficos:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>STOPPER</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>WOBBLER</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FAIXA GÔNDOLA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>URNA SORTEIO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>CATÁLOGO FOLDER</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>CATÁLOGO FELPS COLOR</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>COMPRE & GANHE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-8-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-9-step" value="Recursos na loja: FELPS,RETRÔ e AVENCA. Brindes:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>SACOLA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-9-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>SACHÊ 10G</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-9-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>MINIATURA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-9-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OUTROS</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-9-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-10-step" value="Recursos na loja: FELPS,RETRÔ e AVENCA. Felps Color Tinturas:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>TIGELA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-10-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>ESPÁTULA</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-10-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>PINCEL</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-10-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FAIXA COMPRE GANHE OX</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-10-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-11-step" value="RÉGUA ou FAIXA DE GÔNDOLA:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-11-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-11-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-11-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-11-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-11-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-12-step" value="STOPPER:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-12-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-12-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-12-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-12-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-12-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-13-step" value="WOBBLER:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-13-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-13-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-13-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-13-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-13-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-14-step" value="MÓBILE:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-14-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-14-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-14-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-14-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-14-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-15-step" value="BALÃO AÉREO:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-15-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-15-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-15-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-15-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-15-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-16-step" value="CARTAZ AÉREO:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-16-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-16-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-16-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-16-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-16-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-17-step" value="TÓTEM:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-17-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-17-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-17-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-17-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-17-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-18-step" value="TÓTEM ALCOOL GEL:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-18-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-18-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-18-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-18-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-18-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-19-step" value="TÓTEM ELIPTICO DOBRÁVEL:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-19-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-19-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-19-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-19-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-19-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-20-step" value="ADESIVO DE CHÃO:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-20-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-20-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-20-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-20-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-20-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-21-step" value="CAVALETE:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-21-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-21-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-21-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-21-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-21-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-22-step" value="BALCÃO DE PDV:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-22-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-22-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-22-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-22-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-22-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-23-step" value="CUBOS MODULARES:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-23-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-23-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-23-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-23-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-23-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-24-step" value="CLIP STRIP:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-24-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-24-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-24-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-24-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-24-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-25-step" value="VITRINE ADESIVADA:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-25-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-25-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-25-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-25-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-26-step" value="FACHADA ADESIVADA:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-26-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-26-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-26-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-26-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-26-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-27-step" value="TOLDO:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-27-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-27-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-27-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-27-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-27-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                   <!--  -->
                   <hr>
                   <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-28-step" value="TV, PAINEL DIGITAL P/ VIDEOS:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>NÃO TEM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-28-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>FRACO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-28-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-28-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-28-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>OPORTUNIDADE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-28-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-29-step" value="RELACIONAMENTO COM STAFF LOJA:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>PADRÃO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-29-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-29-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-29-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box question-box-row">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-30-step" value="FLEXIBILIDADE PARA AÇÕES DE MARCA:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <div class="visit-form-section-questions-checks">
                                <label>PADRÃO</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-30-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>BOM</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-30-step" hidden type="text">
                            </div>
                            <div class="visit-form-section-questions-checks">
                                <label>EXCELENTE</label>
                                <input hidden type="checkbox">
                                <input name="visit-form-30-step" hidden type="text">
                            </div>
                        </div>
                    </div>
                    <!--  -->
                    <hr>
                    <!--  -->
                    <div class="visit-form-section-question-box">
                        <div class="visit-form-section-question-title">
                            <input type="text" readonly name="visit-form-31-step" value="Observações:">
                        </div>
                        
                        <div class="visit-form-section-question-cont">
                            <textarea name="visit-form-31-step" cols="30" rows="10"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <!--  -->

            <div class="visit-action-form">
                <button type="button" class="visit-action-form-button-reset">Resetar</button>
                <button formaction="/painel/trademkt/visit/new" type="submit" class="visit-action-form-button-send">Salvar</button>
            </div>
        </div>
    </form>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="https://cdn.socket.io/4.4.1/socket.io.min.js"></script>
<script>
    //Iniciando socket
    //const socket = io("http://localhost:8080")

    async function showUsersShops (cnpjShop, nameShop){
        await socket.emit("getInfoUserTrade", {cnpjShop: cnpjShop, nameShop})

        let dataRequest;
        let validate = await socket.on("getInfoUserTradeAll", (data) => {
            return data != '' ? dataRequest = data : dataRequest = null
        })

        setTimeout(() => {
            $.fn.loadSpin(0)//Tela de carregando
            $("#visit-form-users-list").fadeIn().css({'display': 'flex'})
            $("#visit-form-users-box").empty()

            if(dataRequest != null){
                //Exibindo os usuarios
                $("#title-users-shops").append("<span>Usuarios da loja <b>"+nameShop+"</b><span>")
                dataRequest.forEach(element => {
                    //Valida se o usuario é representante
                    if(element.jcv_userCassification == 4){
                        $("#visit-form-users-box").append
                        (
                        `<div class="visit-form-users-list-box">
                                <span><b>${element.jcv_userNamePrimary}</b></span>
                        </div>`
                        )
                    }else{
                        $("#visit-form-users-box").append
                        (
                        `<div class="visit-form-users-list-box">
                                <span>${element.jcv_userNamePrimary}</span>
                        </div>`
                        )
                    }
                });
            }else{
                $("#visit-form-users-box").append
                (
                `<span style="font-size: 0.8rem">Nenhum usuario encontrado para a loja <b>${nameShop}</b>.</span>`
                )
            }
        }, 500);
    }


    $("#date-form-now").val(moment().format("YYYY-MM-DD"))


    //Array com o CNPJ puro e NOME SOCIAL puro
    const allInofShops = '<%- arrayShops %>'
    const convertShops = allInofShops.split('|*|')
    
    //Pegando so os CNPJ's
    const allCNPJ = []
    convertShops.forEach(element => {
        allCNPJ.push(element.split(' @# ')[0])
    })

    //Pegando so os NOME SOCIAL da loja
    const allShopsName = []
    convertShops.forEach(element => {
        allShopsName.push(element.split(' @# ')[1])
    })
    allShopsName.pop()

    //Autocomplete do CNPJ
    let valueSetCNPJ = '';
    $("#input-shop-cnpj").autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(allCNPJ, request.term);        
            response(results.slice(0, 10));
            
            $('.ui-menu-item-wrapper').click(function () {

                convertShops.forEach(element => {

                //Aqui eu verifico se o NOME existe no element, caso sim ele pega busca novamente
                //utilizando o nome e o cnpj na matriz pricipal
                //1° Busco a string, 2° busco o valor na matriz
                let searchInput = element.indexOf($(this).text());

                //Achamos algo na string
                if(searchInput > -1 ){
                    valueSetShop = element.split(' @# ')[1]
                }

                });

                $.fn.loadSpin(1)//Tela de carregando

                $("#input-shop-name").val(valueSetShop)
                showUsersShops ($(this).text(), valueSetShop)//Pegando os usuarios das lojas
                valueSetShop = undefined;//Após a inserção, ele reseta o input
            })
        }
    })

    //Autocomplete do NOME SOCIAL
    $("#input-shop-name").autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(allShopsName, request.term);        
            response(results.slice(0, 10));
            
            let valueSetShop = 0;
            $('.ui-menu-item-wrapper').click(function () {
                $.fn.loadSpin(1)//Carregando..

                convertShops.forEach(element => {

                    //Aqui eu verifico se o NOME existe no element, caso sim ele pega busca novamente
                    //utilizando o nome e o cnpj na matriz pricipal
                    //1° Busco a string, 2° busco o valor na matriz
                    let searchInput = element.indexOf($(this).text());

                    //Achamos algo na string
                    if(searchInput > -1 ){
                        valueSetShop = element.split(' @# ')[0]
                    }

                });

                $("#input-shop-cnpj").val(valueSetShop)
                showUsersShops (valueSetShop, $(this).text())//Pegando os usuarios das lojas
                valueSetShop = undefined
            })
        }
    })


    
    
    /* $("#input-shop-name").autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(allShopsName, request.term);        
            response(results.slice(0, 10));
            
            $('.ui-menu-item-wrapper').click(function () {

                let aaaa = convertShops.map(validationString)

                //Função para mapear e identificar se o dado X CONTEM no array XX
                function validationString (valueArr) {

                    let reps = valueArr.indexOf($(this).text())

                    if(reps > -1){
                        valueSetCNPJ = convertShops[reps].split(' @# ')[1]
                    }
                }

                //console.log(teste)
                $("#input-shop-cnpj").val(valueSetCNPJ)
            })
        }
    }); */

    $(".visit-form-section-questions-checks").click(function(){

        if($(this).children("input[type='checkbox']").attr("checked") == "checked"){
            $(this).children("input[type='checkbox']").attr("checked",false)

            $(this).children("input[type='text']").attr("value",'')

            $(this).children("label").css({'background': 'transparent', 'color': 'var(--color-two)'});
        }else{
            $(this).children("input[type='checkbox']").attr("checked",true)

            $(this).children("input[type='text']").attr("value",$(this).children("label").text())

            $(this).children("label").css({'background': 'var(--color-green)', 'color': 'var(--color-four)'});
        }        
    })
</script>