.cursos-new-center{
    width: 90%;
    display: flex;
    flex-direction: column;
}

/* TITULO PAGE */
.cursos-new-title{
    width: 100%;
    display: flex;
    align-items: baseline;
    margin: 2% 0;
}
.cursos-new-title span:nth-child(1){
    font-size: 1.2rem;
    color: var(--color-one);
}
.cursos-new-title span:nth-child(2){
    font-size: 0.7rem;
    color: var(--color-one);
    margin-left: 4px;
}


/*  */
.cursos-new-body{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 12px;
    background: var(--background-two);
}
.cursos-new-body-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.cursos-new-title{
    display: flex;
    margin: 14px 0;
}
.cursos-new-title input{
    width: 100%;
    border: 1px solid var(--color-seven);
    padding: 10px 7px;
    font-size: 0.9rem;
    background: transparent;
    color: var(--color-two);
}

/*  */
.cursos-new-box{
    display: flex;
    flex-direction: column;
    margin: 9px 0;
    white-space: normal;
}
.cursos-new-box label{
    font-size: 0.7rem;
    color: var(--color-one);
    margin-bottom: 4px;
}
.cursos-new-box input{
    width: 100%;
    border: 1px solid var(--color-seven);
    padding: 10px 7px;
    font-size: 0.9rem;
    background: transparent;
    color: var(--color-two);
}
.cursos-new-box select{
    outline: 0;
    border: 0;
    padding: 10px 7px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid var(--color-seven);
    cursor: pointer;
    color: var(--color-one);
    background: transparent;
}

.cursos-new-box-models-content{
    display: flex;
    align-items: center;
}
.cursos-new-box-models{
    width: 150px;
    padding: 19px;
    border: 1px solid var(--color-seven);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin: 12px;
}
.cursos-new-box-models label{
    font-size: 0.9rem;
}
.cursos-new-box-models img{
    width: 100%;
    object-fit: contain;
    margin-left: 12px;
}
.cursos-new-box-models input[type=radio]{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 5%;
    left:5%;
    cursor: pointer;
}

/*  */
.cursos-new-actions{
    display: flex;
    margin: 19px 0;
}
.cursos-new-actions button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one-btn);
    cursor: pointer;
}

/*  */
.link-container-back{
    display: flex;
    align-items: center;
    margin: 13px 0;
}
.link-container-back a{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--color-one);
}
/*  */