.sys-users-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sys-users-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sys-users-container-page{
    width: 90%;
}

/* IDENTIFICAÇÃO DA PAGINA */
.sys-users-container-identify-page{
    width: 100%;
    margin: 2% 0;
}
.sys-users-container-identify-page span:nth-child(1){
    font-size: 1.2rem;
    color: var(--color-one);
}
.sys-users-container-identify-page span:nth-child(2){
    margin-left: 4px;
    font-size: 0.7rem;
    color: var(--color-one);
}


/***************************************/
/***************************************/
/* PAGINA container search */
.sys-section-search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    margin-bottom: 23px;
}
.sys-section-container-main{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.sys-box-search{
    width: 50%;
    display: flex;
    align-items: center;
    margin-top: 32px;
}
.sys-box-search input[type=text]{
    width: 40%;
    padding: 8px;
    color: var(--color-one);
    font-size: 0.8rem;
    border: 0;
    border-bottom: 1px solid var(--color-one);
    outline: 0;
}
.sys-box-search button:nth-child(2){
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one);
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
}
.sys-box-search button:nth-child(3){
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-left: 8px;
    border: 1px solid var(--color-one);
}

/***************************************/
/***************************************/
/***************************/
/* PAGINA table users */
.sys-users-section-list{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}

.sys-users-container-main-list{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.sys-users-container-fix{
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

/* */
.sys-users-table-list{
    border-collapse: collapse;
      
}
.sys-users-table-list thead tr th{
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;


    border: none;
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    background: var(--color-one);
    color: var(--color-four);
    font-weight: normal;
    padding: 6px;
    font-size: 0.9rem;
}


.sys-users-table-list tbody tr td{
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;


    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    padding: 6px;
    padding-right: 10px;
    color: var(--color-one);
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.5s;
}
.sys-users-table-list tbody tr:hover{
    transition: 0.5s;
    background: var(--color-eight) !important;
}

/**************************/

.sys-users-table-list tbody tr td input[type=text]{
    border: 1px solid var(--color-seven);
    padding: 6px;
    font-size: 0.9rem;
}
.sys-input-table-large-one{
    width: 400px;
}
.sys-input-table-large-two{
    width: 250px;
}

.sys-users-table-list tbody tr td select{
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.8rem;
    text-transform: uppercase;
    border: 1px solid var(--color-seven);
    cursor: pointer;
}

.sys-users-table-list thead th:nth-child(2) {
    left: 0;
    z-index: 1;
}
.sys-users-table-list tbody td:nth-child(2) {
    left: 0;
    z-index: 1;
    background: var(--background-two);
}

.sys-users-table-list thead th:nth-last-child(1) {
    right: 0;
    z-index: 1;
}
.sys-users-table-list tbody td:nth-last-child(1) {
    right: 0;
    z-index: 1;
    background: var(--background-two);
}

/**************************/
/**************************/
/* container two */
.sys-container-two{
    width: 100%;
    display: flex;
    padding: 12px;
    border-left: 1px solid var(--color-seven);
    border-right: 1px solid var(--color-seven);
}
.sys-container-two-row{
    display: flex;
    justify-content: space-between;
}

.sys-container-two-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}

/***************************/
/* title */
.sys-container-two-box label:nth-child(1){
    font-size: 0.7rem;
    margin-bottom: 8px;
    color: var(--color-five);
}

.sys-check-style{
    cursor: pointer;
}

/********************************/
/********************************/
.sys-actions-commands{
    width: 100%;
    display: flex;
    border-left: 1px solid var(--color-seven);
}

.sys-actions-commands button{
    margin: 0 9px;
    background: transparent;
    color: var(--color-one);
    border: 0;
    outline: 0;
    font-size: 1.2rem;
    cursor: pointer;
}





::-webkit-scrollbar {
    width: 5px;
    height: 12px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-three);
    box-shadow: inset 0 0 6px var(--color-three);
    
}

@media only screen and (max-width: 650px){
    .sys-users-container-identify-page{
        margin: 26px 0;
    }
}