<link rel="stylesheet" href="/panel/css/calendar/scanRoom.css">

<section class="scan-section-center">
    <section class="scan-section-display-main">
        <div class="scan-display-center">
            <div class="scan-open-camera">
                <video autoplay="true" id="videoElement">
                    
                </video>
            </div>
            <div class="scan-display-info">
                <div class="scan-row-one">
                    <span>Aponte a câmera para o QR CODE</span>
                </div>
            </div>
        </div>
    </section>
</section>