<link rel="stylesheet" href="/panel/css/calendar/settings.css">
<section class="settings-section-main">
    <section class="settings-section-center">
        <div class="settings-container-body">
            <div class="settings-title"><span>Configurações</span></div>
            <div class="settings-container-salas">
                
                <div class="settings-container-main-set">
                    
                    <div class="settings-add-container">
                        <div class="settings-title-box"><span>Salas</span></div>
                        <div class="settings-row-form">
                            <label for="">Cadastrar Sala</label>
                            <input type="text">
                        </div>
                        <div class="settings-row-form-select">
                            <select name="" id="">
                                <option value="">Matriz Pirituba</option>
                            </select>

                            <select name="" id="">
                                <option value="">Habilitada</option>
                                <option value="">Desabilitada</option>
                            </select>
                        </div>
                        <div class="settings-row-form-commands">
                            <button type="submit">Salvar</button>
                        </div>
                    </div>
    
                    <div class="settings-container-lists">
                        <div class="setting-container-table">
                            <table class="settings-table-salas">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nome da sala</th>
                                        <th>Local</th>
                                        <th>Status</th>
                                        <th>Ação</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>





                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>






                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>





                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>




                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>




                                    <tr>
                                        <td>1</td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <input type="text" name="" id="">
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Matriz Pirituba</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-input-edit">
                                                <select name="" id="">
                                                    <option value="">Habilitada</option>
                                                    <option value="">Desabilitada</option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="settings-table-action">
                                                <button type="submit"><i class="ri-save-line"></i></button>
                                                <button type="submit"><i class="ri-delete-bin-line"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>