<link rel="stylesheet" href="/panel/css/system/logs.css">
<section class="logs-main-section">
    <section class="logs-section-viewer-event">
        <div class="logs-title-page"><span>Logs do sistema</span></div>

        <div class="logs-calendar-box">
            <div class="logs-calendar-cont-main">
                <div class="logs-row-container">
                    <div class="logs-box-main">
                        <i class="ri-error-warning-line"></i>
                        <span><b>Requsitor de Materiais:</b> Vitor Henrique criou um pedido</span>
                        <label>20/10/2021 - 10Hr</label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="logs-calendar-box">
            <div class="logs-calendar-cont-main">
                <div class="logs-row-container">
                    <div class="logs-box-main">
                        <i class="ri-error-warning-line"></i>
                        <span><b>Requsitor de Materiais:</b> Vitor Henrique criou um pedido</span>
                        <label>20/10/2021 - 10Hr</label>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        


    </section>
</section>