<link rel="stylesheet" href="/panel/css/system/notifications.css">
<section class="notifications-main-section">
    <section class="notifications-section-viewer-event">


        <!-- <div class="notifications-title-page"><span>Notificações</span></div>
        <div class="notifications-calendar-box">
            <div class="notifications-title-day"><span>Requisitor de Materiais</span><span>04 de outubro de 2021 / 13:00h</span></div>
            <div class="notifications-calendar-cont-main">
                <div class="notifications-row-container">
                    <div class="notifications-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="notifications-box-main">
                        <label>Notificado ás:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>

                    <div class="notifications-action-command">
                        <a href="#">Acessar a página</a>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="notifications-calendar-box">
            <div class="notifications-title-day"><span>Requisitor de Materiais</span><span>04 de outubro de 2021 / 13:00h</span></div>
            <div class="notifications-calendar-cont-main">
                <div class="notifications-row-container">
                    <div class="notifications-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="notifications-box-main">
                        <label>Notificado ás:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>

                    <div class="notifications-action-command">
                        <a href="#">Acessar a página</a>
                    </div>
                </div>
            </div>
        </div> -->


    </section>
</section>