<link rel="stylesheet" href="/panel/css/system/updates.css">
<section class="updates-main-section">
    <section class="updates-section-viewer-event">


        <div class="updates-calendar-box">
            <div class="updates-title-day"><span>Atualização 11.1.1</span><span>04 de outubro de 2021 / Vitor Henrique</span></div>
            <div class="updates-calendar-cont-main">
                <div class="updates-row-container">
                    <div class="updates-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="updates-box-main">
                        <label>Horário do update:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="updates-calendar-box">
            <div class="updates-title-day"><span>Atualização 11.1.1</span><span>04 de outubro de 2021 / Vitor Henrique</span></div>
            <div class="updates-calendar-cont-main">
                <div class="updates-row-container">
                    <div class="updates-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="updates-box-main">
                        <label>Horário do update:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="updates-calendar-box">
            <div class="updates-title-day"><span>Atualização 11.1.1</span><span>04 de outubro de 2021 / Vitor Henrique</span></div>
            <div class="updates-calendar-cont-main">
                <div class="updates-row-container">
                    <div class="updates-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="updates-box-main">
                        <label>Horário do update:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="updates-calendar-box">
            <div class="updates-title-day"><span>Atualização 11.1.1</span><span>04 de outubro de 2021 / Vitor Henrique</span></div>
            <div class="updates-calendar-cont-main">
                <div class="updates-row-container">
                    <div class="updates-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="updates-box-main">
                        <label>Horário do update:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>
                </div>
            </div>
        </div>

        <hr>

        <div class="updates-calendar-box">
            <div class="updates-title-day"><span>Atualização 11.1.1</span><span>04 de outubro de 2021 / Vitor Henrique</span></div>
            <div class="updates-calendar-cont-main">
                <div class="updates-row-container">
                    <div class="updates-box-main">
                        <label>Descrição</label>
                        <span>asasasasasa as asa asa sa sa asas asasasasasa as asa asa sa sa asas</span>
                    </div>

                    <div class="updates-box-main">
                        <label>Horário do update:</label>
                        <span>Dás 08:00h ás 17:00h</span>
                    </div>
                </div>
            </div>
        </div>


    </section>
</section>