.section-home-main-center{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-body-page{
    width: 70%;
}

/* CARD DO BACKGROUND QUE AGORA É CARROSSEL DE USUARIOS */
/* .home-section-card-background{
    width: 100%;
    min-height: 330px;
    max-height: 330px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    object-fit: cover;
    background: linear-gradient(126deg, rgba(34,34,36,1) 0%, rgba(44,47,51,1) 88%, rgba(52,58,64,1) 100%);
} */
.home-section-card-background{
    width: 100%;
    min-height: 350px;
    max-height: 350px;
    display: flex;
    /* background: rgba(11, 76, 196, 0.26); */
    padding: 14px;
    /* background: rgba(128, 128, 128, 0.274); */
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(245,245,245,1) 100%);
}
.home-section-card-cont-users{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/*  */
.home-section-card-box-list{
    /* position: absolute; */
    list-style: none;
    width: 100%;
    height: max-content;
    width: fit-content;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    justify-content: center;
    
}
.home-section-card-box-list li{
    
    width: fit-content;
    height: fit-content;
    display: flex;
    padding: 12px;
}


.home-section-card-box-user-img {
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
}
.home-image-user{
    width: 100%;
    display: flex;
    border: 2px solid var(--color-one);
    box-shadow: 0 0 4px 0 var(--color-three);
    object-fit: contain;
    border-radius: 50%;
    padding: 3px;
}
.home-section-card-box-user-name{
    position: absolute;
    width: fit-content;
    height: fit-content;
    display: none;
    align-items: center;
    margin-top: 7px;
    padding: 8px;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 3px;
    margin-left: 72px;
    margin-top: -10px;
}
.home-section-card-box-user-name span{
    font-size: 0.8rem;
    color: var(--color-one);
}

.home-section-card-box-list li:hover .home-section-card-box-user-name{
    display: flex;
    opacity: 1;
}

/*  */
/*  */
/*  */
/* BLOCOS SUSPENSOS */
.section-box-suspended{
    width: 100%;
    margin-top: -170px;
    position: relative;
    z-index: 1;
}

/* */
.suspended-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-page-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 42px;
    text-align: center;
    background: var(--background-two);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 50px 100px 100px var(--color-four);
}
.title-page-info span:nth-child(1){
    font-size: 1.6rem;
    color: var(--color-one);
    font-weight: normal;
    display: flex;
    align-items: center;
}
.title-page-info a{
    text-decoration: none;
    width: fit-content;
    font-size: 0.9rem;
    margin-top: 27px;
    color: var(--color-four);
    padding: 10px;
    background: var(--color-one-boxs);
    border-radius: 5px;
    font-weight: normal;
}

/* */
.suspended-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* GRAPICS */
.home-display-grapics-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
}

/* BLOCKS */
.suspended-blocks-container{
    width: 310px;
    height: 200px;
    overflow-y: auto;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 3px;
    margin: 9px;
}
.suspended-container-center{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 8px;
}
.suspended-title-boxs{
    width: 100%;
    display: flex;
    justify-content: center;
}
.suspended-title-boxs span{
    font-size: 0.8rem;
    color: var(--color-one);
    font-weight: bold;
}







/* CHAT BOX HOME */
.chat-message-box-home{
    width: 100%;
    height: 100%;
    margin-top: 16px;
    white-space: normal;
}
.chat-box-content-home{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.chat-box-content-home > a{
    text-decoration: none;
    color: var(--color-one);
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.chat-box-content-home > a i{
    font-size: 2rem;
    margin-bottom: 5px;
}
/* BOX SUPENDED DEFAULT */
.home-main-suspended-box{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* ONE */
.main-suspended-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-suspended-group-info{
    text-decoration: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-one);
}
.main-suspended-group-icon{
    font-size: 2rem;
    margin-bottom: 12px;
}
.main-suspended-group-info > span:nth-child(2){
    font-size: 0.9rem;
    display: flex;
    align-items: center;
}
.main-suspended-group-info span:nth-child(3){
    margin-top: 5px;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
}

/* ICONES */
.sys-icon-def{
    width: 50%;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
.sys-icon-size{
    width: 40%;
    height: 100%;
    height: fit-content;
    object-fit: cover;
}

/* BOX BELEZA */
.home-beleza-painel-status{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ONE */
.home-beleza-container-status-one{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-beleza-container-status-one a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.home-beleza-container-status-one i{
    font-size: 2.5rem;
    margin-bottom: 12px;
    color: var(--color-one);
}
.home-beleza-container-status-one span{
    font-size: 0.8rem;
    color: var(--color-one);
}
.home-beleza-container-status-one span > i{
    font-size: 0.7rem;
    margin: 0 4px;
}

/* BOX PROCEDIMENTOS */
.home-procedimentos-box{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-procedimentos-box a{
    font-size: 0.89rem;
    color: var(--color-one);
    white-space: normal;
    text-align: center;
}

/*********************************/
/*********************************/
/* GRAFICOS */
.home-grapics-system{
    margin-top: 28px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}

.home-grapics-system:nth-child(1){
    width: 100%;
}
.home-grapics-system:nth-child(2){
    width: 48%;
}
.home-grapics-system:nth-child(3){
    width: 48%;
}

.home-grapics-main{
    /* max-height: 200px; */
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    padding: 18px;
    overflow: hidden;
    overflow-x: auto;
}
.home-grapics-list-chars{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.home-grapics-canvas{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-grapics-list-chars canvas{
    width: 100% !important;
    
}

.home-grapics-title{
    width: 100%;
    display: flex;
}
.home-grapics-title span, a{
    font-size: 0.8rem;
    color: var(--color-one);
}

/*********************************/
/*********************************/
/* RESPONSIVE */
@media only screen and (max-width: 1115px) {
    .suspended-main{
        justify-content: center;
    }
    .suspended-blocks-container{
        margin: 0 23px;
        margin-bottom: 23px;
    }
}

@media only screen and (max-width: 600px) {
    .home-body-page{
        width: 90%;
    }
    .suspended-main{
        flex-direction: column;
        align-items: center;
    }
    .suspended-blocks-container{
        width: 100%;
        margin: 0;
        margin-bottom: 23px;
    }
    .suspended-blocks-container-enjoy{
        width: 100%;
    }

    /*  */
    .section-box-suspended{
        margin-top: -140px;
    }

    /* GRAPICS */
    .home-grapics-list-chars{
        flex-direction: column;
    }
    .home-grapics-system{
        width: 100% !important;
    }
}