/* Css somente da dashboard */

:root{
    --color-one: #222224;
    --color-two: #343a40;
    --color-three: #d6d9dd;
    --color-four: white;
    --color-five: #868f99;
    --color-six: #bdc4cc;
    --color-seven: #d2d5d8;
    --color-eight: #d2d5d89d;
    --color-nine: #d2d5d83f;
    --background-one: #F5F5F5;
    --background-two: white;
    --background-three: #F5F5F5;
    --color-box-shadow: #0000001e;

    --color-red: #AE2012;
    --color-green: #006400;
    --color-yellow: #FCBF49;

    --heigth-header: 60px;
}

/* VALORES UNIVERSAIS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

body, html{
    width: 100%;
    height: 100%;
}

/* config dash basic */
.index-section-index-page{
    width: 100%;
    max-width: 1920px; 
    height: 100%;
    max-height: 1000px;
    margin: 0 auto;
    display: flex;
    align-content: center;
    justify-content: space-between;
    background: var(--background-one);
    white-space: nowrap;
}
.index-container-main-menu{
    position: fixed;
    margin-top: var(--heigth-header);
    width: 260px;
    height: calc(100% - var(--heigth-header));
    max-height: 1000px;
    display: none;
    overflow-y: auto;
    background: linear-gradient(188deg, rgba(34,34,36,1) 0%, rgba(44,47,51,1) 88%, rgba(52,58,64,1) 100%);
    box-shadow: 0 0 4px 0 var(--color-one);
    z-index: 99;
}

/**********************/
/* MENUS */
.menu-container-main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* list menu contaiener e ul */
.menu-ul-list-container{
    width: 85%;
    margin-top: var(--heigth-header);
}

/* ul 1 */
.menu-ul-list-set-one{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-bottom: 34px;
}
.menu-ul-list-set-one > li:nth-child(1){
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
    color: var(--color-four);
    cursor: pointer;
    transition: 0.3s;
}
.menu-ul-list-set-one > li:nth-child(1):hover{
    transition: 0.3s;
    color: var(--color-six);
}   

.menu-ul-list-set-one li > i{
    transition: 0.3s;
}

/* ul 2 */
.menu-list-set-two{
    display: none;
    flex-direction: column;
    list-style: none;
    width: 95%;
    margin-left: 5%;
}
.menu-list-set-two li{
    margin-top: 30px;
}
.menu-list-set-two li a{
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--color-five);
    transition: 0.5s;
    display: flex;
    align-items: center;
}
.menu-list-set-two li a i{
    font-size: 0.9rem;
    margin-right: 12px;
}
.menu-list-set-two li a:hover{
    color: var(--color-three);
    transition: 0.3s;
}

/* footer menu */
.menu-footer-container{
    width: 100%;
    display: flex;
    align-items: center;
}
.menu-footer-one{
    display: flex;
    align-items: center;
    margin: 8px;
}
.menu-footer-one span{
    font-size: 0.7rem;
    color: var(--color-three);
}

/**********************/
.index-container-main-body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* HEADER */
.index-main-header{
    width: 100%;
    height: var(--heigth-header);
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--background-two);
}
header{
    width: 98%;
    display: flex;
    justify-content: space-between;
}

/* left */
.index-cont-left{
    display: flex;
    align-items: center;
}

#menu-action{
    cursor: pointer;
    font-size: 1.3rem;
}

.index-header-logo{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
}
.index-header-logo a{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-img-logo{
    width: 60%;
}

/* right */
.index-cont-rigth{
    height: 100%;
}


/* list */
.header-nav-ul{
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-links-nav{
    height: 100%;
    list-style: none;
    display: flex;
    align-items: center;
}

.header-links-nav > li{
    margin-left: 22px;
}
.header-links-nav > li > a{
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    color: var(--color-two);
}

/* NOTIFICATION */
.notification-container{
    display: flex;
    flex-direction: row-reverse;
}
.notification-main{
    margin-top: -7px;
    margin-left: -8px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--color-two);
    display: none;
    justify-content: center;
    align-items: center;
}
.notification-main span{
    font-size: 0.7rem;
    font-weight: bold;
    color: var(--color-three);
}

.notification-container-box{
    display: none;
    margin-top: calc(var(--heigth-header) - 24px);
    padding: 23px;
    width: 370px;
    min-height: 50px;
    max-height: 600px;
    position: absolute;
    overflow: auto;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-one);
    border-radius: 4px;
}

.notification-ul-list{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.notification-ul-list li{
    height: fit-content;
}
.notification-ul-list-link{
    text-decoration: none;
    display: flex;
    align-items: center;
    object-fit: contain;
}
.notification-link-icon{
    min-width: 40px;
    max-width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
.notification-link-icon-image{
    width: 100%;
    object-fit: contain;
}
.notification-message{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.notification-message span:nth-child(1){
    font-size: 0.8rem;
    color: var(--color-two);
    white-space: normal;
}
.notification-message span:nth-child(2){
    font-size: 0.6rem;
    color: var(--color-two);
    white-space: normal;
    margin-top: 10px;
}
.notification-message-all{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    text-decoration: none;
}
.notification-message-all i{
    margin-left: 5px;
}

/*  */
.header-separador{
    width: 1px;
    height: 25px;
    background: var(--color-one);
    border-radius: 10px;
    margin: 0 24px;
}

.header-nav-dropdown{
    list-style: none;
    display: flex;
    flex-direction: row-reverse;
}
#dropdown-action{
    cursor: pointer;
}

/* INFO USER */
.header-info-user{
    display: flex;

}
.header-info-user-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.info-user-img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--color-one);
}
.info-user-infos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 12px;
}
.info-user-icon-down{
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin: 0 12px;
}
.info-user-infos span:nth-child(1){
    font-size: 0.8rem;
}
.info-user-infos span:nth-child(2){
    font-size: 0.6rem;
}

#toggle-user{
    transition: 0.5s;
}

/* DROP DOWN */
.li-info-user-drop{
    position: absolute;
    display: none;
    margin-top: 40px;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    z-index: 10;
}
.navbar-info-user-drop{
    margin: 16px 19px;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}

 /* li */
.navbar-info-user-drop li{
    font-size: 0.8rem;
    color: var(--color-two);
    padding: 10px 0;
    display: flex;
    align-items: center;
}
.navbar-info-user-drop li i{
    font-size: 0.8rem;
    margin-right: 8px;
    text-align: center;
}
.navbar-info-user-drop li a{
    text-decoration: none;
    color:  var(--color-two);
}

.dropdown-separator{
    width: 95%;
    height: 1px;
    background: var(--color-three);
}

/**************************/
.section-body-main{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    justify-content: center;
}

/******************************/
/******************************/
/* SECTION DE UPDATES DO SISTEMA */
.sys-update-main-main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.sys-update-main{
    width: 100%;
    max-width: 1920px; 
    height: 100%;
    max-height: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(168, 168, 168, 0.267);
}
.sys-update-cont-center{
    width: 600px;
    max-height: 650px;
    display: flex;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    overflow: auto;
}
.sys-update-center{
    width: 100%;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sys-update-title-one{
    width: 100%;
    display: flex;
    justify-content: center;
}

.sys-update-icon{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sys-update-icon i{
    font-size: 2rem;
    color: var(--color-one);
    margin-right: 15px;
}
.sys-update-icon span{
    font-size: 2rem;
    color: var(--color-one);
}

.sys-update-close-all-updates{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    white-space: nowrap;
    margin-top: 15px;
}
.sys-update-close-all-updates button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: underline;
}

.sys-update-hr{
    width: 100%;
    margin: 25px;
}


.sys-update-title-two{
    width: 100%;
    display: flex;
    justify-content: center;
}
.sys-update-title-two span{
    font-size: 1.2rem;
    color: var(--color-one);
}

.sys-update-msg-box{
    width: 100%;
    margin-top: 20px;
    display: flex;
}
.sys-update-msg-box span{
    font-size: 1rem;
    line-height: 1.4rem;
    color: var(--color-two);
}
.sys-update-msg-box a{
    font-weight: bold;
    color: var(--color-two);
    line-height: 2;
}

.sys-update-button{
    width: 100%;
    margin-top: 23px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.sys-update-button button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one);
    cursor: pointer;
    transition: 0.5s;
}


/***********************/
/***********************/
/* DISPLAY PRINCIPAL DO FILTRO */
.sys-filter-display-main{
    display: none;
    justify-content: center;
    align-items: center;
}
.sys-filter-container-col{
    padding: 3px;
    display: flex;
    flex-direction: column;
    
}
.sys-filter-component-boxs{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

/* titulo */
.sys-filter-title span{
    font-size: 0.7rem;
    color: var(--color-one);
}

/* inputs do box */
.sys-filter-box-main{
    margin-top: 7px;
    margin-right: 7px;
    display: flex;
    align-items: center;
    border: 1.5px solid var(--color-one);
    border-radius: 4px;
    padding: 3px;
    
}
.sys-filter-box-main span{
    background: transparent;
    color: var(--color-one);
    font-size: 0.9rem;
    border: 0;
    outline: 0;
    cursor: default;
    padding-right: 5px;
}
.sys-filter-box-main button{
    font-size: 0.9rem;
    font-weight: bold;
    color: var(--color-one);
    border: 0;
    outline: 0;
    cursor: pointer;
    background: transparent;
}

/********************************/
/********************************/
/* NAVBAR DA PAGINAÇÃO */
.pagination-nav-list-main{
    display: flex;
    margin: 15px 0;
    overflow: auto;
}
.pagination-nav-list-main > span{
    font-size: 1rem;
    color: var(--color-one);
    padding: 5px 10px;
    border: 1.5px solid var(--color-five);
    border-radius: 4px;
    cursor: pointer;
    margin: 0 8px;
}
.pagination-nav-list-active{
    background: var(--color-one);
    color: var(--color-three) !important;
    border: 1.5px solid transparent !important;
}

.pagination-nav-list-main-amount{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination-nav-list-main-amount span{
    font-size: 0.8rem;
    color: var(--color-one);
}


/*  */
/*  */
.sys-define-pass-main{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.527);
}
.sys-define-box{
    width: 350px;
    padding: 25px;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
}
.sys-define-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.sys-define-row{
    display: flex;
    margin-bottom: 19px;
}
.sys-define-row > span:nth-child(1){
    font-size: 1rem;
    color: var(--color-one);
}
#msg-box > span{
    font-size: 0.7rem;
    color: red;
}
.sys-define-row input{
    width: 100%;
    border: 0.9px solid var(--color-two);
    padding: 8px 9px;
    font-size: 0.9rem;
    border-radius: 4px;
}
.sys-define-row button{
    height: fit-content;
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-one);
    background: transparent;
    cursor: pointer;
    transition: 0.5s;
    border: 1px solid var(--color-one);
}



.sys-define-row button:hover{
    transition: 0.5s;
    background: transparent;
    color: var(--color-one);
    border: 1px solid var(--color-one);
    box-shadow: 0 0 4px 0 var(--color-three);
}





/******************************/
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: var(--color-three);
    box-shadow: inset 0 0 6px var(--color-three);
}


.rotate-90 { 
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    transition: 0.5s;
}

/* RESPONSIVE */
@media only screen and (max-width: 500px) {
    .index-cont-rigth{
        overflow: auto;
    }
    .li-info-user-drop{
        right: 2%;
    }
    header{
        width: 95%;
    }
    .sys-update-cont-center{
        width: 95%;
    }
    .sys-define-box{
        width: 95%;
    }
}