.beleza-new-main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.beleza-new-image-display{
    width: 100%;
    height: 37%;
    display: flex;
    justify-content: center;
}

.beleza-new-img-desktop{
    width: 100%;
    object-fit: cover;
}

.beleza-new-img-mobile{
    display: none;
    width: 100%;
    object-fit: cover;
}

/* DISPLAY BODY */
.beleza-new-section-display-body{
    width: 90%;
    display: flex;
    justify-content: center;
}
.beleza-new-display-solicitar{
    width: 550px;
    margin-top: -100px;
    height: fit-content;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}

.beleza-new-container-box{
    padding: 26px;
}
.beleza-new-title-box{
    width: 100%;
    display: flex;
    justify-content: center;
}
.beleza-new-title-box span{
    font-size: 1.9rem;
    font-weight: lighter;
    color: var(--color-one);
}
.beleza-new-container-body{
    width: 100%;
    margin-top: 56px;
}

.beleza-new-info{
    width: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.beleza-new-info span{
    font-size: 0.8rem;
    color: var(--color-one);
}

.beleza-new-form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.beleza-new-form-row{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 23px;
}

.beleza-new-form-row input{
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

.beleza-new-form-row button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.beleza-new-form-row button i{
    margin-left: 13px;
}


.beleza-new-form-row-actions{
    width: 100%;
    margin-top: 38px;
    display: flex;
    justify-content: center;
}
.beleza-new-form-row-actions button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.beleza-new-form-row-actions button i{
    margin-left: 13px;
}

.beleza-new-form-row-large{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 28px;
}
#open-search-product-one{
    position: absolute;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 5px;
}
#open-search-product-two{
    position: absolute;
    font-size: 1rem;
    cursor: pointer;
    margin-right: 5px;
}

.beleza-new-form-row-large input{
    width: 100%;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

.beleza-new-cont-off{
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}

/* ***************************** */
/* ***************************** */
/* ***************************** */
/* SISTEMA DE BUSCA */
.beleza-search-screen{
    position: absolute;
    width: 100%;
    height: calc(100% - 46px);
    background: rgba(0, 0, 0, 0.158);
    display: none;
    justify-content: center;
    align-items: center;
}

.beleza-search-box{
    width: 500px;
    max-height: 400px;
    padding: 12px;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    overflow: auto;
}

.beleza-search-box-row{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 16px 0;
}
.beleza-search-box-row span{
    font-size: 0.9rem;
    color: var(--color-one);
}

.beleza-search-box-row input{
    width: 100%;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

.beleza-search-box-table{
    display: flex;
    overflow: auto;
}

.beleza-search-table{
    border-collapse: collapse;
    width: 100%;
}
.beleza-search-table tr td{
    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    padding: 10px 6px;
    color: var(--color-one);
    font-size: 0.8rem;
    transition: 0.5s;
}
.beleza-button-select-product{
    font-size: 1.4rem;
    background: transparent;
    outline: 0;
    color: var(--color-one);
    border: none;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .beleza-new-display-solicitar{
        width: 98%;
    }
    .beleza-new-info{
        white-space: normal;
        text-align: center;
    }
    .beleza-new-container-box{
        padding: 12px;
    }
    .beleza-new-info{
        margin-top: 42px;
    }

    .beleza-new-img-desktop{
        display: none;
    }
    .beleza-new-img-mobile{
        display: flex;
    }

    /* lista de produtos */
    .ui-menu-item{
        font-size: 0.8rem;
    }

    .beleza-search-box{
        width: 95%;
    }
}