<link rel="stylesheet" href="/panel/css/cursos/cursosNew.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<section class="cursos-new-center">
    <div class="link-container-back">
        <a href="/painel/cursos/main" class="class-loader"><i class="ri-arrow-left-line"></i></a>
    </div>
    <!--  -->
    <section class="cursos-new-title">
        <span>Criar curso | Treinamento</span>
        <span>/ Cursos</span>
    </section>
    <!--  -->
    <section class="cursos-new-body">
        <form method="post" class="cursos-new-body-form">
            <div class="cursos-new-title">
                <input required type="text" name="course-name" placeholder="Nome do curso">
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Carga Horária <b>*somente números</b></label>
                <input required type="number" name="course-total-hours" placeholder="Insira a carga horária total">
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Ministrado por:</label>
                <input required  type="text" name="course-manager" id="instrutor-manager" placeholder="Busque pelos instrutores aqui">
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Marca</label>
                <select required name="course-brand">
                    <option value="Felps Professional">Felps Professional</option>
                    <option value="Felps Men">Felps Men</option>
                    <option value="Retrô Cosméticos">Retrô Cosméticos</option>
                    <option value="Avenca Cosméticos">Avenca Cosméticos</option>
                </select>
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Hora inicial</label>
                <input required style="width: fit-content;" type="datetime-local" name="course-initial" id="">
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Status</label>
                <select required name="course-status">
                    <option value="1">Ativo</option>
                    <option value="2">Inativo</option>
                    <option value="3">Iniciado</option>
                    <option value="4">Finalizado</option>
                </select>
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Texto de exibição do certificado. <b>Insira o texto com base nas informações préviamente inseridas, respeite as tags "${}" que são exibidas</b> <br><br> <b>Tag necessárias: ${courseName}, ${managerCourse}, ${brandName}, ${dateCourse}, ${hoursCourse}</b></label>
                <input required type="text" name="course-text-certificate" id="course-text-certificate" value="Concluiu o TREINAMENTO “${courseName} ministrado pelo ${managerCourse} - ${brandName}, realizado em ${dateCourse}, com carga horária de ${hoursCourse} hora(s)." name="course-text-certificate">
            </div>
            <!--  -->
            <div class="cursos-new-box">
                <label for="">Descrição</label>
                <input type="text" name="course-description">
            </div>
            <!--  -->
            <section class="cursos-new-actions">
                <button formaction="/painel/course/new" id="button-save" type="submit" id="button-save">Salvar</button>
            </section>
            <!--  -->
        </form>
    </section>
</section>
<script>
    //LISTANDO OS USUARIOS
    let dataOne = '<%- getAllUsers %>';
    let arrayDataOne = dataOne.split(',');

    //Primeiro campo
    $("#instrutor-manager").autocomplete({
        source: function(request, response) {
            var results = $.ui.autocomplete.filter(arrayDataOne, request.term);
            response(results.slice(0, 5));
        }
    });

    $("#course-text-certificate").keyup(function(e){
        let value = this.value;

        let arrayDataMandatory = [
            '${courseName}', 
            '${managerCourse}', 
            '${brandName}', 
            '${dateCourse}', 
            '${hoursCourse}',
        ]

        let errrorEnable;
        for (let i = 0; i < arrayDataMandatory.length; i++) {
            if(value.indexOf(arrayDataMandatory[i]) == -1){
                //Os dados não foram encotrados
                //console.log('falta dados')
                errrorEnable = true
            }else{
                //Todos encotrados
            }
        }

        if(errrorEnable == true){
            $("#button-save").attr('disabled','disabled');
            $(this).css({'border':'1px solid red','outline':'none'})
        }else{
            $("#button-save").removeAttr('disabled');
            $(this).css({'border':'1px solid green','outline':'none'})
        }

    })
</script>