<link rel="stylesheet" href="/panel/css/cursos/sincProfile.css">

<section class="sinc-section-main">
    <div class="sinc-box">
        <div class="sinc-header-msg">
            <img src="/panel/img/sync-ilustration.svg" alt="">
        </div>
        <div class="sinc-description">
            <span>Sincornizar perfis</span>

            <span>
                Você ainda não possui um registro no <b>portal de certificados JCV GROUP</b>
                Você gostaria de sicronizar os perfis?<br>

                Esta ação será: <br>
                - Sincornizar seus <b>dados</b> para a plataforma de certificados <br>
                - Dados como: <b>Nome</b>,<b>E-mail</b>,<b>CPF</b>. <br><br><br>

                <b>Esta ação é necessária apenas uma única vez! Ao sicronizar você so precisará estar logado no painel para acessar o painel de certificados</b>
                <br><br>
            </span>
        </div>
        <form method="post" class="sinc-action">
            <button type="submit" formaction="/painel/course/sync/profile" class="sinc-action-accept class-loader">Sincronizar</button>
            <a href="/painel">Não, obrigado</a>
        </form>
    </div>
</section>