<link rel="stylesheet" href="/panel/css/chat/index.css">

<section class="chat-section-display-main">
    <section class="chat-section-main">

        <section class="chat-section-main-page">
            <section class="chat-section-main-chat">
                <section class="chat-section-info-chat" id="chat-section-info-chat">
                    <div class="chat-container-info-chat">

                        <div class="chat-section-center-main">

                            <div class="chat-section-menu-chat">
                                <i id="chat-menu-close" class="ri-menu-line"></i>
                            </div>

                           <div class="chat-container-title-page">
                               <span>Mensagens</span>
                               <div class="chat-blob-notif"><span>1</span></div>
                           </div>

                           <div class="chat-container-options">
                                <div class="chat-main-option">
                                    <span id="chat-main">Conversas</span>
                                    <label id="chat-lbl-1"></label>
                                </div>

                                <!--
                                <div class="chat-main-option">
                                    <span id="chat-groups">Grupos</span>
                                    <label style="display: none;" id="chat-lbl-2"></label>
                                </div>
                                -->
                                
                                <div class="chat-main-option">
                                    <span id="chat-contacts">Contatos</span>
                                    <label style="display: none;" id="chat-lbl-3"></label>
                                </div>
                           </div>





                            <section class="section-chat-messages-main" id="section-chat-messages-main">
                                <div class="chat-news-container-main">
                                    <div class="chat-news-title"><span>Conversas</span></div>
                                    <div class="chat-news-container-box">
                                        <a class="chat-news-link-open" href="">
                                            <div class="chat-news-img-user">
                                                <img class="chat-news-user" src="/panel/img/img-user/32.jpg" alt="">
                                            </div>
                                            <div class="chat-news-container-info-sts">
                                                <span>Grupo Teste 1</span>
                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas</span>
                                            </div>
                                            <div class="chat-news-cont-date">
                                                <span>13:00</span>
                                                <span>1</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>

                                <div class="chat-msg-container-main">
                                    <div class="chat-msg-title"><span>Conversas recentes</span></div>

                                    <div class="chat-msg-container-box">
                                        <a class="chat-msg-link-open-chat" href="">
                                            <div class="chat-msg-img-user">
                                                <img class="chat-msg-user" src="/panel/img/img-user/32.jpg" alt="">
                                            </div>
                                            <div class="chat-msg-container-info-sts">
                                                <span>Vitor Henrique</span>
                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas</span>
                                            </div>
                                            <div class="chat-msg-cont-date">
                                                <span>13:00</span>
                                                <span>07/10/2021</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="chat-separator-chats"></div><!-- separador -->

                                    <div class="chat-msg-container-box">
                                        <a class="chat-msg-link-open-chat" href="">
                                            <div class="chat-msg-img-user">
                                                <img class="chat-msg-user" src="/panel/img/img-user/32.jpg" alt="">
                                            </div>
                                            <div class="chat-msg-container-info-sts">
                                                <span>Vitor Henrique</span>
                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas</span>
                                            </div>
                                            <div class="chat-msg-cont-date">
                                                <span>13:00</span>
                                                <span>07/10/2021</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </section>





                            <section class="chat-groups-container" id="chat-groups-container">
                                <div class="chat-groups-container-main">
                                    <div class="chat-msg-title"><span>Contatos</span></div>

                                    <div class="chat-msg-container-box">
                                        <a class="chat-msg-link-open-chat" href="">
                                            <div class="chat-msg-img-user">
                                                <img class="chat-msg-user" src="/panel/img/img-user/32.jpg" alt="">
                                            </div>
                                            <div class="chat-msg-container-info-sts">
                                                <span>Vitor Henrique</span>
                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas</span>
                                            </div>
                                            <div class="chat-msg-cont-date">
                                                <span>13:00</span>
                                                <span>07/10/2021</span>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="chat-separator-chats"></div><!-- separador -->

                                    <div class="chat-msg-container-box">
                                        <a class="chat-msg-link-open-chat" href="">
                                            <div class="chat-msg-img-user">
                                                <img class="chat-msg-user" src="/panel/img/img-user/32.jpg" alt="">
                                            </div>
                                            <div class="chat-msg-container-info-sts">
                                                <span>Vitor Henrique</span>
                                                <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras egestas</span>
                                            </div>
                                            <div class="chat-msg-cont-date">
                                                <span>13:00</span>
                                                <span>07/10/2021</span>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </section>
                    



                        </div>


                    </div>
                </section>

                <section class="chat-section-menu-open">
                    <i id="chat-menu-open" class="ri-menu-line"></i>
                </section>

                <section class="chat-section-main-chat-box">
                    <section class="chat-section-main-online">

                        <div class="chat-online-box-info">
                            <div class="chat-online-img-user">
                                <img class="chat-online-img" src="/panel/img/img-user/32.jpg">
                            </div>
                            <div class="chat-online-info-user">
                                <div class="chat-online-user-info-one"><span>Vitor Henrique</span><span></span></div>
                                <div class="chat-online-user-info-two"><span>Ti</span></div>
                            </div>
                        </div>

                        <div class="chat-online-box-msg-main">
                            
                            <div class="chat-online-main-msgs">

                                <hr class="chat-online-hr">
                                
                                <div class="chat-online-box-sender">
                                    <div class="chat-online-user-image-sender">
                                        <img class="chat-online-img-popup-sender" src="/panel/img/img-user/32.jpg">
                                    </div>
                                    <div class="chat-online-popup-chat-sender">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia tellus a porta pharetra. In sit amet tincidunt nunc.</span>
                                        <span>08/10/2021 - 13:00h</span>
                                    </div>
                                </div>

                                <!-- -->

                                <div class="chat-online-box-send">
                                    <div class="chat-online-user-image-send">
                                        <img class="chat-online-img-popup-send" src="/panel/img/img-user/32.jpg">
                                    </div>
                                    <div class="chat-online-popup-chat-send">
                                        <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia tellus a porta pharetra. In sit amet tincidunt nunc.</span>
                                        <span>08/10/2021 - 13:00h</span>
                                    </div>
                                </div>
                            </div>


                            <div class="chat-online-container-app">
                                <div class="chat-online-cont-actions">
                                    <div class="chat-online-box-text">
                                        <input type="text">
                                    </div>
                                    <div class="chat-online-send-msg">
                                        <button type="submit">Enviar</button>
                                    </div>
                                </div>
                            </div>



                        </div>

                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<script>
$(function(){
    $("#chat-menu-open").click(function(){
        $("#chat-section-info-chat").animate({width: "toggle"},200);
    }) 

    $("#chat-menu-close").click(function(){
        $("#chat-section-info-chat").animate({width: "toggle"},200);
    }) 





    $("#chat-contacts").click(function(){
        $("#section-chat-messages-main").css("display","none");
        $("#chat-groups-container").fadeIn(500);

        $("#chat-lbl-1").css("display","none")
        $("#chat-lbl-3").css("display","flex")
    })
    $("#chat-main").click(function(){
        $("#chat-groups-container").css("display","none");
        $("#section-chat-messages-main").fadeIn(500);

        $("#chat-lbl-1").css("display","flex")
        $("#chat-lbl-3").css("display","none")
    })

})
</script>