.view-form-response-main-section{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-form-response-section-page{
    width: 90%;
}

/* FORMULARIO EM SI */
.view-form-response-display{
    width: 100%;
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
}
.view-form-response-title{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    border-radius: 4px;
    padding: 14px;
}
.view-form-response-title-one{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.view-form-response-title-one span:nth-child(1){
    font-size: 0.9rem;
    color: var(--color-three);
}
.view-form-response-title-one span:nth-child(2){
    font-size: 0.9rem;
    color: var(--color-three);
    margin-right: 2%;
}
.view-form-response-title-one input{
    width: max-content;
    min-width: 450px;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 1rem;
    border-bottom: 1px solid var(--color-three);
    color: var(--color-three);
    background: transparent;
}
/*  */
.view-form-response-list-user{
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.view-form-response-list-users-set{
    width: fit-content;
    display: flex;
    align-items: center;
    border: 1px solid var(--color-one);
    padding: 4px;
    border-radius: 4px;
    margin: 5px;
}
.view-form-response-list-users-set input{
    min-width: fit-content;
    outline: 0;
    border: none;
    font-size: 0.7rem;
    color: var(--color-one);
}
.view-form-response-list-users-set button{
    border: none;
    color: var(--color-one);
    cursor: pointer;
    font-size: 0.8rem;
    background: transparent;
    display: flex;
    align-items: center;
}
/*  */
.view-form-search-box-cont-main{
    width: 95%;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}
.view-form-search-info-form{
    width: fit-content;
    display: flex;
    flex-direction: column;
}
.view-form-search-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}
.view-form-search-box label{
    font-size: 0.7rem;
    color: var(--color-two);
}
.view-form-search-box input[type=text]{
    min-width: 450px;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

/*  */
.view-form-response-title-two{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;
}
.view-form-response-title-img-logo{
    width: 100%;
    object-fit: contain;
}


/*  */
/*  */
.view-form-response-box-actions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-form-response-set{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-form-response-set-submit{
    outline: 0;
    border: 0;
    padding: 10px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-two);
    cursor: pointer;
    margin: 24px;
}

.view-form-set-styles{
    width: 100%;
    padding: 23px;
}
.view-form-set-styles h1{
    font-size: 1.4rem;
    padding: 16px 0;
}