.room-setings-section-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.room-setings-section-center{
    width: 90%;
    margin-top: 23px;
    display: flex;
    
}
.room-setings-container-body{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.room-setings-title span{
    font-size: 1.5rem;
    color: var(--color-one);
}
.room-setings-container-salas{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.room-setings-title-box{
    width: 100%;
    margin-bottom: 13px;
    display: flex;
}
.room-setings-title-box span{
    font-size: 0.9rem;
}

/* */
.room-setings-container-main-set{
    width: 100%;
    padding: 12px;
    margin-top: 12px;
    flex-direction: column;
    align-items: center;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}
/* */
.room-setings-add-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

/********/
.room-setings-row-form{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
}

.room-setings-row-form-box{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.room-setings-row-form-box label{
    font-size: 0.7rem;
    color: var(--color-five);
}

.room-setings-row-form-box input[type=text] {
    width: 90%;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

.room-setings-row-form-select{
    width: 100%;
    margin-bottom: 21px;
    display: flex;
    align-items: center;
}
.room-setings-row-form-select select{
    width: 150px;
    outline: 0;
    padding: 4px 5px;
    font-size: 0.8rem;
    margin-right: 15px;
    margin-top: 8px;
    color: var(--color-one);
    border-bottom: 1px solid var(--color-one);
}

.room-setings-row-form-check{
    display: flex;
    align-items: center;
    margin-bottom: 21px;
}
.room-setings-row-form-check label{
    font-size: 0.9rem;
    margin-left: 15px;
    color: var(--color-two);
}

.room-setings-row-form-commands{
    display: flex;
    align-items: center;
}
.room-setings-row-form-commands button{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one);
    cursor: pointer;
}

/****************************/
/****************************/
.room-setings-container-lists{
    width: 100%;
    display: flex;
    overflow-y: auto;
}
.setting-container-table{
    width: 100%;
    padding: 5px;
}

/* table */
.room-setings-table-salas{
    width: 100%;
    border-collapse: collapse;
}
.room-setings-table-salas tr th{
    border: none;
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    color: var(--color-one);
    padding: 6px;
    font-size: 0.9rem;
}
.room-setings-table-salas tr td{
    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    padding: 6px;
}

.room-setings-table-salas tr th:nth-child(1){
    text-align: center;
    width: 5%;
}
.room-setings-table-salas tr th:nth-child(2){
    text-align: left;
}
.room-setings-table-salas tr th:nth-child(3){
    width: 10%;
}
.room-setings-table-salas tr th:nth-child(4){
    width: 10%;
    text-align: center;
}
.room-setings-table-salas tr th:nth-child(5){
    width: 5%;
    text-align: center;
}

/*********/
.room-setings-table-salas tr td:nth-child(1){
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--color-seven);
}

.room-setings-table-salas tr td select{
    outline: 0;
    padding: 2px 5px;
    font-size: 0.8rem;
    color: var(--color-one);
    border-bottom: 1px solid var(--color-five);
}
.room-setings-table-salas tr td input{
    width: 100%;
    outline: 0;
    border: 0;
    padding: 4px;
    font-size: 0.8rem;
    border: 1px solid var(--color-five);
}

/* */
.room-setings-input-edit{
    width: 100%;
    display: flex;
    align-items: center;
}

.room-setings-table-action{
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
}
.room-setings-table-action button{
    background: transparent;
    color: var(--color-one);
    cursor: pointer;
    outline: 0;
    border: 0;
    font-size: 1.5rem;
    margin: 0 15px;
}

/*********************/
/*********************/
@media only screen and (max-width: 900px){
    .room-setings-container-main-set{
        flex-direction: column;
        overflow: auto;
    }
    .room-setings-add-container{
        width: 100%;
    }
    .room-setings-container-lists{
        min-width: 500px;
        margin-top: 23px;   
    }
}