.req-new-container-main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.req-new-container-page{
    width: 90%;
}

/* IDENTIFICAÇÃO DA PAGINA */
.req-new-container-identify-page{
    width: 100%;
    margin: 2% 0;
}
.req-new-container-identify-page span:nth-child(1){
    font-size: 1.2rem;
    color: var(--color-one);
}
.req-new-container-identify-page span:nth-child(2){
    margin-left: 4px;
    font-size: 0.7rem;
    color: var(--color-one);
}

/***************************/
/* PAGINA */
.req-new-page-new{
    width: 100%;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
}
.req-new-page-center{
    padding: 12px;
}

/* BLOCO FINALIZAR PEDIDO */
.req-new-information-send{
    width: 100%;
}
.req-new-title-box{
    display: flex;
}
.req-new-title-box span{
    font-size: 0.7rem;
    color: var(--color-one);
}

.req-new-finaly-request{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 28px;
}

/******************************/
/******************************/
/* CONTAINER ROW */
.req-new-container-row-large{
    width: 100%;
    display: flex;
    margin-bottom: 26px;
}
.req-new-container-box-large{
    width: 30%;
    display: flex;
    flex-direction: column;
}
.req-new-container-box-large label{
    font-size: 0.7rem;
    color: var(--color-one);
}
.req-new-container-box-large input[type=text]{
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

/*****************/
/* SINGLE */
.req-new-container-row-single{
    width: 100%;
    display: flex;
}
.req-new-container-box-single{
    width: 15%;
    margin-left: 36px;
    display: flex;
    flex-direction: column;
}
.req-new-container-box-single label{
    font-size: 0.7rem;
    color: var(--color-one);
}
.req-new-container-box-single input[type=number]{
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    text-transform: uppercase;
    border-bottom: 1px solid var(--color-one);
}

/* LINKS */
.req-new-container-link{
    margin: 0 36px;
    display: flex;
    align-items: center;
}
.req-new-container-link span{
    color: var(--color-one);
    font-size: 0.8rem;
    cursor: pointer;
}
.req-new-container-link span i{
    margin-left: 3px;
}


/* BUTTON */
.req-new-container-button{
    display: flex;
    align-items: center;
    margin: 0 36px;
}
.req-new-button-default{
    outline: 0;
    border: 0;
    padding: 8px 18px;
    border-radius: 4px;
    font-size: 0.8rem;
    color: var(--color-four);
    background: var(--color-one);
    cursor: pointer;
}

/************************/
/************************/
/* TABELA */
.req-new-section-table{
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    display: none;
}
.req-new-container-main-table{
    padding: 12px;
}

.req-new-container-table-set{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 36px;
}

/* TABLE */
.req-new-table{
    border-collapse: collapse;
    width: 100%;
}
.req-new-table tr th{
    border: none;
    cursor: pointer;
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    font-weight: normal;
    background: var(--color-one);
    color: var(--color-four);
    padding: 6px;
    font-size: 0.9rem;
}
.req-new-table tr td{
    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    padding: 6px;
    color: var(--color-one);
    font-size: 0.9rem;
}

.req-new-table tr th:nth-child(1){
    text-align: center;
    width: 5%;
}
.req-new-table tr th:nth-child(2){
    text-align: left;
}
.req-new-table tr th:nth-child(3){
    width: 5%;
}
.req-new-table tr th:nth-child(4){
    width: 5%;
    text-align: center;
}

/*********/
.req-new-table tr td:nth-child(1){
    text-align: center;
}

tr:nth-child(even) {
    background-color: var(--color-eight);
}

/* INPUT NUMBER TABLE */
.req-table-inputs{
    width: 100%;
    display: flex;
    justify-content: center;
}

.req-table-inputs input[type=number]{
    width: 100%;
    outline: 0;
    border: 0;
    padding: 3px;
    font-size: 0.9rem;
    color: var(--color-one);
    background: transparent;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid var(--color-one);
}

/* ACTIONS */
.req-container-actions{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;       
}

.req-container-actions button{
    font-size: 1.4rem;
    color: var(--color-one);
    background: transparent;
    outline: 0;
    border: 0;
    cursor: pointer;
}


/* input da tabela */
.req-input-large{
    width: 100%;
    border: none;
    text-align: left;
    padding: 6px;
    color: var(--color-one);
    font-size: 0.9rem;
    outline: 0;
    background: transparent;
}

/************************/
/************************/
/* FINALIZAR PEDIDO */
.req-new-section-final{
    width: 100%;
    margin-top: 36px;
    margin-bottom: 36px;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    display: none;
}
.req-new-section-final-box{
    width: 100%;
    display: flex;
    padding: 12px;
}

/************************/
/************************/
/* LIST ITENS */
.req-new-list-itens{
    position: absolute;
    width: 100%;
    height: calc(100% - 46px);
    background: rgba(0, 0, 0, 0.158);
    display: none;
    justify-content: center;
    align-items: center;
}
.req-new-main-itens{
    width: 700px;
    max-height: 400px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    background: var(--background-two);
    box-shadow: 0 0 4px 0 var(--color-three);
    overflow: auto;
}
.req-new-main-itens-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.req-new-main-itens-title span{
    font-size: 1rem;
    color: var(--color-one);
}
.req-new-main-itens-title i{
    font-size: 1.5rem;
    color: var(--color-two);
    cursor: pointer;
}

.req-new-main-itens-input{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 32px 0;
}
.req-new-main-itens-input input{
    width: 100%;
    margin-top: 8px;
    outline: 0;
    border: 0;
    padding: 5px 5px;
    font-size: 0.9rem;
    border-bottom: 1px solid var(--color-one);
}

.req-new-main-itens-table-display{
    display: flex;
    overflow: auto;
    margin-top: 32px;
}
.req-new-main-itens-table{
    border-collapse: collapse;
    width: 100%;
}
.req-new-main-itens-table tr td{
    border: none;
    border-top: 1px solid var(--color-five);
    border-bottom: 1px solid var(--color-five);
    text-align: left;
    padding: 10px 6px;
    color: var(--color-one);
    font-size: 0.8rem;
    transition: 0.5s;
}
.req-new-main-itens-table-button{
    font-size: 1.4rem;
    background: transparent;
    outline: 0;
    color: var(--color-one);
    border: none;
    cursor: pointer;
}
/************************/
/************************/
/* RESPONSIVE */
@media only screen and (max-width: 700px) {
    .req-new-container-row-large{
        flex-direction: column;
    }
    .req-new-container-box-large{
        width: 100%;
    }
    .req-new-container-box-single{
        margin-left: 0;
        margin-top: 22px;
        width: 100%;
    }
    .req-new-container-link{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px 0;
    }
    .req-new-container-button{
        margin: 0;
        margin-top: 18px;
        width: 100%;
        justify-content: center;
    }
    .req-new-table{
        min-width: 600px;
    }
    
    .req-new-container-identify-page{
        margin: 26px 0;
    }
    
    .req-new-container-table-set{
        overflow: auto;
        justify-content: flex-start;
    }
}